<div class="container p-3" style="max-height: 600px; overflow-y: auto">
  <h2>Modification du Mot de Passe</h2>
  <form
    #updatepasswordForm="ngForm"
    (ngSubmit)="onSubmitForm(updatepasswordForm)"
    class="g-3 needs-validation"
  >
    <div class="row">
      <div class="col-lg-4 bg-light">
        <div class="img m-auto w-75" *ngIf="(photo$ | async) as photo; else loader">
          <img  [src]="photo ? photo : image" class="w-100" alt="" />
        </div>
      </div>
      <div class="col-lg-8">
        <label class="">Code agent</label>
        <div class="bg-light form-control">
          <span class="pt-2">{{CodeAgent}}</span>
        </div>
        <label class="mt-3">Login</label>
        <div class="bg-light form-control">
          <span class="pt-2">{{Login}}</span>
        </div>
        <label class="mt-3">Ancien Mot de passe</label>
        <div class="col-lg-12 p-0">
          <input
            class="form-control"
            name="AncienPasse"
            [(ngModel)]="AncienPasse"
            type="text"
          />
        </div>
        <label class="mt-3">Nouveau Mot de passe</label>
        <div class="col-lg-12 p-0">
          <input
            class="form-control"
            name="NouveaunPasse"
            [(ngModel)]="NouveaunPasse"
            #password1Input
            type="text"
            (input)="checkPasswordMatch()"
          />
        </div>
        <label class="mt-3">Confirmer le Mot de passe</label>
        <div class="col-lg-12 p-0">
          <input
            class="form-control"
            #password2Input
            type="text"
            (input)="checkPasswordMatch()"
          />
        </div>
        <span id="passwordMatchStatus" [ngClass]="{'text-success': passwordsMatch, 'text-danger': !passwordsMatch}">
          {{ passwordsMatch ? 'Les mots de passe correspondent.' : 'Les mots de passe ne correspondent pas.' }}
        </span>

      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-6">
        <button
          class="form-control btn text-white"
          style="background-color: #a77ade"
          *ngIf="!isLoading;else loader"
          [disabled]="!isFormValid()"

        >
          Valider <i class="fa-solid fa-arrows-rotate"></i>
        </button>
      </div>
      <div class="col-lg-6">
        <button
          class="form-control btn text-white"
          [mat-dialog-close]="true"
          style="background-color: rgb(158, 37, 37)"
        >
          Annuler <i class="fa-solid fa-delete-left"></i>
        </button>
      </div>
    </div>
  </form>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<span id="passwordMatchStatus" class="text-danger"></span>
