<app-gabarit pageTitle="Gestion emploi du temps">
  <div class="container-fluid bg-light p-2">
    <div class="row mb-2">
      <div class="d-flex justify-content-around">
        <p>Sélectionnez une classe</p>
        <p>puis</p>
        <p>sélectionnez une matière</p>
      </div>
      <div class="col-md-5">
        <app-classe-list
          (classeEmitted)="onChangeClasse($event)"
        ></app-classe-list>
      </div>

      <div class="col-md-7">
        <app-matiere-enseigne
          (matiereEmitted)="onChoseMatiere($event)"
          [matiereList$]="matieres$"
        ></app-matiere-enseigne>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <select
          *ngIf="groupeEmploiDuTemps$ | async as data; else loader"
          class="form-select border-danger text-danger py-0"
          aria-label="Default select example"
          (change)="onChangeGroupeEmploi($event)"
        >
          <!-- <option selected disabled>Sélectionnez un emploi du temps</option> -->
          <option *ngFor="let item of data" [value]="item.IDEMPLOIDUTEMPS">
            <div>
              {{ item.Description }} <br />
              Début: {{ item.DateDebut | date : "short" }}
            </div>
          </option>
        </select>
      </div>
      <div
        class="col"
        *ngIf="matiereChosed && classeChosed && groupeEmploiSelected"
      >
        <div class="w-100 d-flex justify-content-around flex-wrap">
          <div class="example-button-row">
            <button
              mat-stroked-button
              color="primary"
              [disabled]="emploiIsSubmit || emploiIsDeleted"
              (click)="onValidMatiere()"
              class="mx-1"
            >
              <app-loader *ngIf="emploiIsSubmit"></app-loader> Insérer
            </button>
            <button
              mat-stroked-button
              color="accent"
              [disabled]="emploiIsSubmit || emploiIsDeleted"
              (click)="onRemove()"
            >
              <app-loader *ngIf="emploiIsDeleted"></app-loader> Supprimer
            </button>
            <button
              mat-stroked-button
              color="primary"
              [disabled]="printIsLoad || emploiIsDeleted"
              (click)="onPrint()"
              class="mx-1"
            >
              <app-loader *ngIf="printIsLoad"></app-loader> Imprimer
            </button>

            <button
              mat-stroked-button
              color="accent"
              [disabled]="true"
              (click)="onGenerate()"
            >
              <app-loader *ngIf="genIsLoad"></app-loader> Generer
              automatiquement
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <app-tableau-emlpoi-du-temps
          *ngIf="dataEmploiDuTemps$"
          [dataEmploiDuTemps$]="dataEmploiDuTemps$"
          (emploisEmit)="onEmitEmploi($event)"
        ></app-tableau-emlpoi-du-temps>
      </div>
    </div>
  </div>
</app-gabarit>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
