

$primary-color:#7b4bce;
$secondary-color: #8cbec6;

table {
  width: 100%;
}
.mat-elevation-z8 tr, .mat-elevation-z8 mat-header-cell {
  height: 2em;
}
.mat-elevation-z8 th, .mat-elevation-z8 mat-header-cell {
  background-color: $primary-color;
  color: white;
} 

.selected-row {
  background-color: lightblue; /* Remplacez la couleur par celle de votre choix */
}

.selected-row {
  background-color: lightblue; /* Remplacez la couleur par celle de votre choix */
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
  //lignes
  tr:nth-child(even) {
    background-color: rgb(219, 209, 209);
}

mat-paginator{
  background-color: $primary-color;
}

.md-dialog {
  opacity: 0;
}

.tr > :hover{
  background-color:rgb(146, 133, 123);
  cursor: pointer;
  color: white;
}


.col-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px;
}

// tr.selected {
//   background-color:rgb(168, 113, 74);
//   color: white;


// }



//  tr.selectede {
//    background-color:rgb(168, 113, 74);
//    color: white; 
//  }
