@import '../../dashboard/dashboard.component.scss';

#actualites{
    min-height: 7em;
    max-height: 20em;
    overflow-y: auto;
}

.actuality-color{
    background: #e6f7fd;
}


aside{
    background: url(../../../assets/images/parent.jpg) no-repeat center;
    background-size: cover;
    margin: 0px !important;
    padding: 0px !important
}

/* Styles pour le conteneur de l'image */
.image-container {
  width: 100%; /* Définit la largeur du conteneur à 100% */
  height: 0; /* Définit la hauteur du conteneur à 0 (sera ajustée dynamiquement) */
  padding-top: 100%; /* Ratio hauteur/largeur pour conserver les proportions */
  position: relative; /* Position relative pour que l'image puisse être positionnée à l'intérieur */
  overflow: hidden; /* Cache le débordement de l'image */
}

/* Styles pour l'image */
.img-fluid {
  width: auto; /* La largeur est calculée automatiquement pour conserver les proportions */
  height: 100%; /* Définit la hauteur de l'image à 100% du conteneur */
  position: absolute; /* Position absolue pour s'adapter à la taille du conteneur */
  top: 0; /* Aligne l'image en haut du conteneur */
  left: 0; /* Aligne l'image à gauche du conteneur */
}


@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  font-family: "Space Mono", monospace;
  display: flex;
  flex-direction: column;
  max-width: 420px;
  padding: 32px;
  margin: 60px auto;
  border: 1px solid #eee;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.06);
}

tr:hover{
cursor: pointer;
background-color:#484848;
color: white;
}

.block-image {
  display: block;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: 2px solid #00c0ef;
}

.bg-bloc{
    background: rgba($color: #e6f7fd, $alpha: 0.7);
}

.numCount{
  font-size: 1.3em;
  font-weight: 900;
}

.detailsCount{
  font-size: 0.9em
}
.card-sup{
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  div{
    margin-right: 2em;
  }
}

.info-box-content{
  @media screen and (max-width: 500px) {
    h2{
      font-size: 0.9em;
    }
    span{
      font-size: 0.7em;
    }
  }
}
blockquote{
  font-size: 1em;
}

.blockinfo > p {
  line-height: .5;
}

.blockmobile{
  display: none;
}
.blockpc{
  display: block;
}

.reabonnement{
  padding: 10px;
}

@media screen and (max-width: 990px) {
  .blockmobile{
    display: block;
  }
  .blockpc{
    display: none;
  }
  .blockinfo > p {
    line-height: 1;
    margin-top: -5PX;
  }
  .reabonnement{
    height: 30px !important;
    margin-top: -8px !important;
    padding: 5px;

  }
}