<app-gabarit pageTitle="Listes des agents">
  <div class="container-fluid">
    <div class="pb-3">
      <div class="mt-4 d-none d-lg-block">
        <app-filtrer
          (filtreClick)="onValideFilter()"
          (onPrint)="printAgent()"
        ></app-filtrer>
      </div>
      <div class="row m-0 bg-light pt-1 pb-3">
        <div class="col-lg-3">
          <label for="" class="text-center mx-1">Recherche</label>
          <div class="d-flex align-items-center">
            <i
              style="position: absolute"
              class="fa-solid fa-map-marked-alt p-3 text-success"
            ></i>
            <input
              type="text"
              (keyup)="applyFilter($event)"
              placeholder="Recherchez par ici..."
              class="form-control shadow text-start px-5 text-uppercase"
            />
          </div>
        </div>
        <div class="col-lg-3">
          <button
            class="form-control  bg-table-color mt-4 text-white button"
            (click)="reloadListe()"
            style="cursor: pointer; float: right;"
          >
            Rafraîchir la liste
            <i class="fa-solid fa-rotate-right" style="padding-left: 10px"></i>
          </button>
        </div>
        <div class="col-lg-3 mt-4">
          <button
          [disabled]="true"
            class="btn form-control bg-table-color text-white">
            Export <i class="fa-solid fs-5 fa-file-excel"></i>
          </button>
      </div>
        <div class="col-lg-3">
          <button
            class="form-control bg-table-color mt-4 text-white button"
            routerLink="/agent-ajout"
            style="cursor: pointer; float: right;"
          >
            Ajouter un agent
            <i class="fa-solid fa-user-plus" style="padding-left: 10px"></i>
          </button>
        </div>
      </div>

      <div class="col-12 col-md-8 col-lg-6">
        <div class="d-flex align-items-center">
          <i
            style="position: absolute"
            class="ps-2 color"
            data-feather="inbox"
          ></i>
        </div>
      </div>

      <div class="mat-elevation-z8" [ngStyle]="contentTableStyle">
        <table
          mat-table
          [dataSource]="dataSource"
          *ngIf="!isLoading; else loader"
        >
          <!-- Position Column -->

          <ng-container matColumnDef="Fr_Nom">
            <th class="bg-color-primary  bg-table-color" mat-header-cell *matHeaderCellDef>
              Nom
            </th>
            <td class="pointer" mat-cell *matCellDef="let element">
              {{ element.Fr_Nom }}
            </td>
            <td mat-footer-cell *matFooterCellDef class="bg-table-color text-light"> TOTAL </td>
          </ng-container>

          <ng-container matColumnDef="Fr_Prenom">
            <th class="bg-color-primary  bg-table-color" mat-header-cell *matHeaderCellDef>
              Prénom
            </th>
            <td class="pointer" mat-cell *matCellDef="let element">
              {{ element.Fr_Prenom }}
            </td>
            <td mat-footer-cell *matFooterCellDef class="bg-table-color text-white">Agents: {{ dataSource.data.length }}               </td>

          </ng-container>

          <ng-container matColumnDef="Civilite">
            <th class="bg-color-primary  bg-table-color" mat-header-cell *matHeaderCellDef>
              Sexe
            </th>
            <td class="pointer" mat-cell *matCellDef="let element">
              {{ element.Civilite == 1 ? "M" : "" }}
              {{ element.Civilite == 2 ? "F" : "" }}
            </td>
            <td mat-footer-cell *matFooterCellDef class="bg-table-color"> </td>

          </ng-container>

          <ng-container matColumnDef="DateNaissance">
            <th class="bg-color-primary  bg-table-color" mat-header-cell *matHeaderCellDef>
              Date naissance
            </th>
            <td class="pointer" mat-cell *matCellDef="let element">
              {{ convertToValideDate(element.DateNaissance) }}
            </td>
            <td mat-footer-cell *matFooterCellDef class="bg-table-color"> </td>

          </ng-container>

          <ng-container matColumnDef="Fr_LieuNaissance">
            <th class="bg-color-primary  bg-table-color" mat-header-cell *matHeaderCellDef>
              Lieu
            </th>
            <td class="pointer" mat-cell *matCellDef="let element">
              {{ element.Fr_LieuNaissance }}
            </td>
            <td mat-footer-cell *matFooterCellDef class="bg-table-color"> </td>

          </ng-container>

          <ng-container matColumnDef="Actions">
            <th
               mat-header-cell
              class="text-end  bg-table-color"
              style="padding-right: 35px"
              *matHeaderCellDef
            >
              Actions
            </th>

            <td
              mat-cell
              class="text-end"
              *matCellDef="let element"
            >
              <button
                type="button"
                (click)="view(element)"
                class="btn text-lowercase py-0 px-1"
              >
                <i class="fa fa-eye text-black" aria-hidden="true"></i>
              </button>
              <button
                type="button"
                (click)="edit(element)"
                class="btn text-lowercase py-0 px-1"
              >
                <i class="fa fa-pencil text-black" aria-hidden="true"></i>
              </button>
              <button
                type="button"
                (click)="delete(element)"
                class="btn text-lowercase px-1 py-0"
              >
                <i class="fa fa-trash text-danger" aria-hidden="true"></i>
              </button>
            </td>
            <td mat-footer-cell *matFooterCellDef class="bg-table-color"> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
        </table>
      </div>
      <div
     
    >
    </div>
    </div>
  </div>
</app-gabarit>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
