.nav-item{
    width: 30% !important;
    text-align: center;
    border-radius: 0px;
    color: white;
}
.nav-item>a{
    color: black;
}
.midle{
    width: 40% !important;
}
.midle>a{
    color: black;
}
.midle{
    text-align: center;
    border-radius: 0px;
    color: white;

}
.nav-tabs .nav-link {
    margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
    /* border: var(--bs-nav-tabs-border-width) solid transparent; */
    /* border-top-left-radius: var(--bs-nav-tabs-border-radius); */
    /* border-top-right-radius: var(--bs-nav-tabs-border-radius); */
}


.photo-card{
    width: 200px;
    height: 240px;
    border: 1px solid gray;
}
@media screen and (max-width:900px) {
    .nav-item{
        width: 100% !important;
        text-align: center;
        border-radius: 0px;
        color: white;
    }
    .midle{
        width: 100% !important;
    }
}



$primary-color:#7b4bce;
$secondary-color: #8cbec6;

table {
  width: 100%;
}
.mat-elevation-z8 tr, .mat-elevation-z8 mat-header-cell {
  height: 2em;
}
.mat-elevation-z8 th, .mat-elevation-z8 mat-header-cell {
  background-color: $primary-color;
  color: white;
} 

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
  //lignes
  tr:nth-child(even) {
    background-color: rgb(219, 209, 209);
}


mat-paginator{
  background-color: $primary-color;
}


.tr > :hover{
  background-color: #4fc7ea;
  color: white;
}

.bg-color{
  background-color:rgb(179, 119, 40);
  color: white;
  cursor: pointer;
}