<div class="container">
  <div class="col">
    <app-close-modal></app-close-modal>
    <h2 class="text-danger">Details de l'absence</h2>
    <form [formGroup]="absenceForm">

      <div class="row">
        <div class="col-md-6 d-flex justify-content-between">
          <div class="d-flex justify-content-start">
            <div class="form-check">
              <input class="form-check-input border-dark" type="radio" checked [value]="typeAbsence.ABSENCE" formControlName="nTypeAbsence"  id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Absence
              </label>
            </div>
            <div class="form-check mx-3">
              <input class="form-check-input border-dark" [value]="typeAbsence.RETARD"  type="radio" formControlName="nTypeAbsence" id="flexRadioDefault2" checked>
              <label class="form-check-label" for="flexRadioDefault2">
                Retard
              </label>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-6">
              <div class="form-check">
                <input class="form-check-input border-dark" type="checkbox" formControlName="bAbsenceJustifiee" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Justifiée
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">


        <div class="col-md-3">
          <label class="form-check-label mt-3" for="flexCheckDefault">
            Durée
          </label>
          <input class="form-control border-dark" [readonly]="absenceForm.get('nTypeAbsence')?.value == typeAbsence.ABSENCE" type="time" formControlName="DureeAbsence" value="" id="flexCheckDefault">
        </div>

        <div class="col-md-9">
          <label
            for="validationCustom01"
            class="form-label label mt-3"
            >Motif</label>
          <input
            type="text"
            class="form-control hauteur hauteur"
            formControlName="MotifAbsence"
            [ngClass]="{
              'is-valid': absenceForm.controls['MotifAbsence'].valid,
              'is-invalid': !absenceForm.controls['MotifAbsence'].valid
            }"
          />
          <div
            [ngClass]="{
              'valid-feedback': absenceForm.controls['MotifAbsence'].valid,
              'invalid-feedback': !absenceForm.controls['MotifAbsence'].valid
            }"
          >
            {{ !absenceForm.controls['MotifAbsence'].valid ? "Renseignez le motif" : "ok." }}
          </div>
        </div>

        <div class="col-12">
          <label
            for="validationCustom01"
            class="form-label label mt-3"
            >Observation</label
          >
          <input
            type="text"
            class="form-control hauteur hauteur"
            formControlName="Observation"
            [ngClass]="{
              'is-valid': absenceForm.controls['Observation'].valid,
              'is-invalid': !absenceForm.controls['Observation'].valid
            }"
          />
          <div
            [ngClass]="{
              'valid-feedback': absenceForm.controls['Observation'].valid,
              'invalid-feedback': !absenceForm.controls['Observation'].valid
            }"
          >
            {{ !absenceForm.controls['Observation'].valid ? "Renseignez une observation" : "ok." }}
          </div>
        </div>

      </div>

      <div class="col p-4" *ngIf="!readonly">
        <button type="button" *ngIf="!isLoading; else loader" (click)="onValid()" [disabled]="absenceForm.invalid" class="btn btn-primary w-100">Valider</button>
      </div>
    </form>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
