<div class="container">
  <div class="row">
    <app-close-modal></app-close-modal>
    <div class="col-12">
      <div class="card" *ngIf="!dataIsloading; else loading">
        <div class="card-body">
          <h3 class="card-title text-left" style="width: 26em">
            <h2 class="">
              {{ action === "view" ? "Fiche du cycle " : "" }}
              {{ action === "edit" ? "Modifier le cycle" : "" }}
              {{ action === "view" || action === "edit" ? Libelle : "" }}
              {{ !action ? "Ajouter un cycle" : "" }}
            </h2>
          </h3>
          <form
            #cycleForm="ngForm"
            (ngSubmit)="onSubmitForm(cycleForm)"
            class="g-3 needs-validation"
          >
            <div class="mt-3">
              <label for="validationCustom01" class="form-label label">Libelle</label>
              <input
                [readonly]="action == 'view'"
                type="text"
                class="form-control hauteur hauteur"
                name="Libelle"
                [(ngModel)]="Libelle"
                required=""
              />
            </div>

            <div class="mt-3">
              <label for="validationCustom01" class="form-label label">Ordre</label>
              <input
                [readonly]="action == 'view'"
                type="number"
                class="form-control hauteur hauteur"
                name="NumOrdre"
                [(ngModel)]="NumOrdre"
                required=""
              />
            </div>

            <div class="mt-3 m-auto" *ngIf="action != 'view'">
              <button
                type="submit"
                *ngIf="!isLoading; else loading"
                class="btn form-control text-white btn-primary bg-primary"
                [disabled]="!isFormValid()"
              >
                {{ action === "edit" ? "Modifier un cycle " : "Valider" }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>
</div>
