
<div class="container">
  <div class="card p-0 m-0" style="max-width: 340px;">
    <!-- <app-close-modal [textBtn]="false"></app-close-modal> -->
    <div class="row no-gutters p-0 m-0">
      <div class="col-12">
        <img src="../../../assets/images/Logo_eschool.png"  alt="eschool">
      </div>
      <div class="col-12">
        <div class="card-body text-center">
          <h1 class="card-title">CONTACT</h1>
          <p>
            <i class="fa-solid fa-envelope text-primary"></i> <a href="mailto:"> cybermatic@gmail.com</a>
          </p>
          <p>
            <i class="fa-solid fa-phone-volume text-primary"></i> <a href="tel:+242064287837"> +242 06 428 78 37</a>
          </p>
          <p>
            <i class="fa-solid fa-whatsapp text-primary"></i> <a href="https://wa.me/+242064287837"> +242 06 428 78 37</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
