<app-gabarit>
  <div class="container">
    <div class="">
      <div class="col-12 bg-light">
        <label for="" class="text-center">Recherche une classe ici</label>
        <div class="d-flex align-items-center">
          <input
            type="text"
            (keyup)="applyFilterclasse($event)"
            placeholder="Recherchez par ici..."
            class="form-control text-start text-uppercase"
          />
        </div>
      </div>
      <div class="mat-elevation-z8">
        <div style="max-height: 340px; overflow-y: auto">
          <table
            mat-table
            [dataSource]="dataSource1"
            *ngIf="!isLoading; else loader"
          >
            <ng-container matColumnDef="CodeClasse">
              <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                Code Classe
              </th>
              <td class="pointer" mat-cell *matCellDef="let element">
                {{ element.CodeClasse }}
              </td>
            </ng-container>

            <ng-container matColumnDef="cochers">
              <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                cochers
              </th>
              <td class="pointer" mat-cell *matCellDef="let element">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    style="padding: 10px"
                    (change)="checkLineClass(element)"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault1"
                  />
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
          </table>
        </div>
        <div>
          <button
            (click)="imprimer()"
            style="background-color: #7c57ce"
            class="form-control text-white"
          >
            Imprimer emploi du temps de la classe cochée <span></span>
          </button>
        </div>
      </div>
      <ng-template #loader>
        <app-loader></app-loader>
      </ng-template>
    </div>
  </div>
</app-gabarit>
