<section class="example-container mat-elevation-z8" tabindex="0" *ngIf="(dataEmploiDuTemps$ | async) as data; else loader">
  <table class="" mat-table [dataSource]="data" *ngIf="(absences$ | async) as absences; else loader">

    <!--  Column -->
    <ng-container matColumnDef="heure" sticky>
      <th mat-header-cell *matHeaderCellDef style="background: #59abfd"> <div class="h-100 w-100 pointer">Heure</div> </th>
      <td mat-cell *matCellDef="let element" class="border-d"> {{element.heure }} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="lundi">
      <th mat-header-cell *matHeaderCellDef class="text-center" style="background: #59abfd"> Lundi </th>

      <td mat-cell *matCellDef="let element"
        (click)="onClick(element, $event, indiceDays.LUNDI, element.indiceSeance, element.mardi, findAbsence(indiceDays.LUNDI, element.lundi, absences))"
        class="text-center pointer editable-emploi"
        [ngClass]="getStateAbsenceColor(indiceDays.LUNDI, element.lundi, absences)"
      > {{element.lundi?.NomMatiere}} </td>

    </ng-container>


    <!-- Weight Column -->
    <ng-container matColumnDef="mardi" >
      <th mat-header-cell *matHeaderCellDef class="text-center" class="text-center" style="background: #59abfd"> Mardi </th>
      <td mat-cell *matCellDef="let element"

      [ngClass]="getStateAbsenceColor(indiceDays.MARDI, element.mardi, absences)"

      (click)="onClick(element, $event, indiceDays.MARDI, element.indiceSeance, element.mardi, findAbsence(indiceDays.MARDI, element.mardi, absences))" class="text-center pointer editable-emploi"
      > {{element.mardi?.NomMatiere}} </td>
    </ng-container>



    <!-- Symbol Column -->
    <ng-container matColumnDef="mercredi">
      <th mat-header-cell *matHeaderCellDef class="text-center" style="background: #59abfd"> Mercredi </th>
      <td mat-cell *matCellDef="let element" (click)="onClick(element, $event, indiceDays.MERCREDI, element.indiceSeance, element.mercredi, findAbsence(indiceDays.MERCREDI, element.mercredi, absences))"
      [ngClass]="getStateAbsenceColor(indiceDays.MERCREDI, element.mercredi, absences)"
      class="colonne text-center  pointer editable-emploi"> {{element?.mercredi?.NomMatiere}} </td>
    </ng-container>


    <ng-container matColumnDef="jeudi">
      <th mat-header-cell *matHeaderCellDef style="background: #59abfd"> Jeudi </th>
      <td mat-cell *matCellDef="let element"
       [ngClass]="getStateAbsenceColor(indiceDays.JEUDI, element.jeudi, absences)"
       (click)="onClick(element, $event, indiceDays.JEUDI, element.indiceSeance, element.jeudi, findAbsence(indiceDays.JEUDI, element.jeudi, absences))" class="text-center pointer editable-emploi"> {{element?.jeudi?.NomMatiere}} </td>
    </ng-container>



    <ng-container matColumnDef="vendredi">
      <th mat-header-cell *matHeaderCellDef class="text-center" style="background: #59abfd"> Vendredi </th>
      <td mat-cell *matCellDef="let element"
       [ngClass]="getStateAbsenceColor(indiceDays.VENDREDI, element.vendredi, absences)"
       (click)="onClick(element, $event, indiceDays.VENDREDI, element.indiceSeance, element.vendredi, findAbsence(indiceDays.VENDREDI, element.vendredi, absences))" class="colonne text-center pointer editable-emploi"> {{element?.vendredi?.NomMatiere}} </td>
    </ng-container>



    <ng-container matColumnDef="samedi">
      <th mat-header-cell *matHeaderCellDef class="text-center"  style="background: #59abfd"> Samedi </th>
      <td mat-cell *matCellDef="let element"
       [ngClass]="getStateAbsenceColor(indiceDays.SAMEDI, element.samedi, absences)"
       (click)="onClick(element, $event, indiceDays.SAMEDI, element.indiceSeance, element.samedi, findAbsence(indiceDays.SAMEDI, element.samedi, absences))" class="text-center pointer editable-emploi"> {{element?.samedi?.NomMatiere }} </td>
    </ng-container>

    <ng-container matColumnDef="dimanche">
      <th mat-header-cell *matHeaderCellDef class="text-center" style="background: #59abfd"> Dimanche </th>
      <td mat-cell
      [ngClass]="getStateAbsenceColor(indiceDays.DIMANCHE, element.dimanche, absences)"
       *matCellDef="let element" (click)="onClick(element, $event, indiceDays.DIMANCHE, element.indiceSeance, element.dimanche, findAbsence(indiceDays.DIMANCHE, element.dimanche, absences))" class="colonne text-center pointer editable-emploi"> {{element?.dimanche?.NomMatiere }} </td>
    </ng-container>

    <!-- Star Column -->
    <ng-container matColumnDef="star" stickyEnd>
      <th mat-header-cell *matHeaderCellDef style="background: #59abfd" aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon>more_vert</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
