<div class="container">
  <div class="col-12">
    <div class="card border-0">
      <app-close-modal></app-close-modal>
      <div class="card-body">
        <h3 class="card-title text-left">
          <h2 class="">
            {{ action === "view" ? "Fiche du quartier " : "" }}
            {{ action === "edit" ? "Modifier le quartier" : "" }}
            {{ action === "view" || action === "edit" ? NomQuartier : "" }}
            {{ !action ? "Ajouter un quartier" : "" }}
          </h2>
        </h3>
        <form
          #genreForm="ngForm"
          (ngSubmit)="onSubmitForm(genreForm)"
          class="g-3 needs-validation"
          *ngIf="!dataIsLoading; else loading"
        >
          <div class="row mt-3">
            <div class="col-lg-6">
              <label for="validationCustom01" class="form-label"
                >DEPARTEMENT</label
              >

              <select
                class="form-select"
                name="IDDEPARTEMENT"
                [(ngModel)]="IDDEPARTEMENT"
                (change)="onSelectionChange($event)"
                aria-label="Default select example"
              >
                <option disabled>selectionner un departement</option>
                <option
                  *ngFor="let departement of DepartementList"
                  [value]="departement.IDDEPARTEMENT"
                >
                  {{ departement.NomDepartement }}
                </option>
              </select>
            </div>
            <div class="col-lg-6">
              <label for="validationCustom01" class="form-label"
                >ARRONDISSEMENT</label
              >

              <select
                class="form-select"
                name="IDARRONDISSEMENT"
                [(ngModel)]="IDARRONDISSEMENT"
                aria-label="Default select example"
              >
                <option disabled [value]="0">selectionner un arrondissement</option>
                <option
                  *ngFor="let arrondissement of ArrondissementList"
                  [value]="arrondissement.IDARRONDISSEMENT"
                >
                  {{ arrondissement.NomArron }}
                </option>
              </select>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12">
              <label for="validationCustom01" class="form-label"
                >Quartier</label
              >
              <input
                [readonly]="action == 'view'"
                type="text"
                class="form-control hauteur hauteur"
                name="NomQuartier"
                [(ngModel)]="NomQuartier"
                required=""
              />
            </div>
          </div>

          <div class="mt-3 m-auto" *ngIf="action != 'view'">
            <button
              type="submit"
              class="btn form-control btn-primary bg-primary text-light"
              [disabled]="!isFormValid()"
              *ngIf="!isLoading; else loading"
            >
              {{ action === "edit" ? "Modifier le quartier " : "Valider" }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
