<app-gabarit pageTitle="Personnalisation des bulletins">
  <div class="container bg-white pb-3">
    <div class="row">
      <div class="col-lg-6">
        <div class="col-lg-12">
          <button
            type="button"
            (click)="openCropImage()"
            class="form-control bg-light mt-3"
          >
            Modifier l'image <i class="fa-solid fa-image"></i>
          </button>
          <button class="form-control bg-light mt-3">
            Enregistrer l'image <i class="fa-solid fa-arrows-rotate"></i>
          </button>
        </div>
      </div>
      <div class="col-lg-6">
        <div
          style="background-color: #7c57ce"
          class="col-lg-12 p-4 bg-light text-center"
          *ngIf="!isloadinImageSelected; else loader"
        >
          <span class="text-uppercase fw-bold">{{ titrepardefaut }}</span>
          <div class="w-50 m-auto mt-2">
            <img class="w-50" [src]="image" />
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0 pt-3 bg-light">
      <div class="col-lg-6">
        <button
          (click)="openColorPickerDialog()"
          class="form-control text-white"
          style="background-color: #7c57ce"
        >
          Couleur de fond des titres de colonnes
          <i class="fa-solid fa-check-double"></i>
        </button>
      </div>
      <div class="col-lg-6">
        <p
          class="form-control"
          [style.background-color]="ColordefinitiveFondTitle"
        ></p>
      </div>
    </div>

    <div class="row m-0 pt-0 bg-light">
      <div class="col-lg-6">
        <button
          (click)="openColorPickerDialogGroupeMatiere()"
          class="form-control text-white"
          style="background-color: #7c57ce"
        >
          Couleur de fond des groupes de matières
          <i class="fa-solid fa-check-double"></i>
        </button>
      </div>
      <div class="col-lg-6">
        <p
          class="form-control"
          [style.background-color]="ColordefinitiveFondgroupMatiere"
        ></p>
      </div>
    </div>

    <div class="row m-0 pt-0 bg-light">
      <div class="col-lg-6">
        <button
          (click)="openColorPickerDialogColorResumer()"
          class="form-control text-white"
          style="background-color: #7c57ce"
        >
          Couleur de fond des résumés <i class="fa-solid fa-check-double"></i>
        </button>
      </div>
      <div class="col-lg-6">
        <p [style.background-color]="Colorresume" class="form-control"></p>
      </div>
    </div>

    <div class="col-lg-12 mt-3">
      <button class="text-white form-control" style="background-color: #7c57ce">
        Valider le changement des couleurs
        <i class="fa-solid fa-floppy-disk"></i>
      </button>
    </div>
  </div>
</app-gabarit>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
