<app-gabarit pageTitle="Avance salaire">
    <div class="container-fluid bg-light px-2 pb-5 pt-4">
      <div class="row p-0 border m-0"  style="background-color: #dee2e6;">
        <div>
          <app-info-compta-agent></app-info-compta-agent>
        </div>
      </div>
  
      <div class="row py-1 px-3">
        <div class="col-md-12 p-3" style="background-color: #e9ecef;">
           <div class="row">
            <div class="col-lg-6 pt-2">
                <div class="d-lg-flex gap-3">
                    <p class="fw-bold"><span>Compte séléctionné : </span> <span class="text-danger mx-2">{{compteSlected.CodeCompte}}</span></p>
                    <p class="fw-bold"><span>Avance maximale : </span> <span class="text-danger mx-2">{{globalService.formatPrix(MontantRestant)}}</span></p>
                  </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-5 pt-1">
                                <p class="pt-2">Montant à retirer :</p>
                            </div>
                            <div class="col-lg-7 p-0">
                              <input #montantInput (blur)="MantantAretirer($event)" class="form-control" type="number">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <button *ngIf="!isLoading; else loader" (click)="AvanceSalaire()" class="form-control bg-table-color text-white">Retirer</button>
                    </div>
                </div>
            </div>
           </div>
        </div>
      </div>
<!--   
      <div class="row">
        <div class="col-md-6">
          <canvas #chartCanvas1></canvas>
        </div>
        <div class="col-md-6">
          <canvas #chartCanvas2></canvas>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-6"></div>
      </div> -->
    </div>
  </app-gabarit>
  
  <ng-template #loader>
    <div>
      <app-loader></app-loader>
    </div>
  </ng-template>
  