.bg-absence-justifiee{
    background-color: #99ff99 !important;
  }
  .bg-absence-non-justifiee{
    background-color: #ff9897 !important;
  }
  .bg-retard-justifiee{
    background-color: #fdff99 !important;
  }
  .bg-retard-non-justifiee{
    background-color: #ffa600 !important;
  }