<div class="example-action-buttons">
  <h2 class="text-light">Emploi du temps</h2>
</div>
<mat-accordion *ngIf="(absences$ | async) as absences; else loader">
  <mat-expansion-panel *ngFor="let indice of indiceJours" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="py-2">
      <mat-panel-title>
        {{ indice.name }}
      </mat-panel-title>
      <mat-panel-description class="d-none d-md-block">

        <mat-icon>date_range</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>

      <table class="table table-primary table-striped">
        <thead>
          <tr>
            <th scope="col">Heure {{ visitor == 'enseignant' ? '& classe' : '' }}</th>
            <th scope="col">Matière</th>
            <th scope="col" class="d-none d-md-table-cell">Enseignant</th>
          </tr>
        </thead>
        <tbody>
          <tr class="pointer"  *ngFor="let item of filterByIndiceJour(indice.id); let i = index">
            <td scope="row" class="py-1" [ngClass]="getStateAbsenceColor(indice.id, item, absences)" >
              {{ getSeanceByIndice(item.IndSeance)?.HeureSeance ?? '' }}
              {{ visitor == 'enseignant' ? ' : ' + item.CodeClasse : '' }}
            </td>
            <td class="py-1" [ngClass]="getStateAbsenceColor(indice.id, item, absences)" >{{ item.CodeMatiere }}</td>
            <td class="d-none d-md-table-cell py-1" [ngClass]="getStateAbsenceColor(indice.id, item, absences)" >{{ item.NomEnseignant }}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </mat-expansion-panel>

</mat-accordion>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

