<app-gabarit-parent>
  <div class="container-fuild m-3">
    <div class="example-action-buttons">
      <h2 class="text-dark p-2 bg-light rounded rounded-5">
        Etat de paiement des frais scolaires de l'élève :
        <span class="text-danger">{{ eleve.NomPrenom }}</span>
      </h2>
    </div>
    <div
      class="row rounded rounded-5 p-3 bg-light"
      *ngIf="dataSource; else loader"
    >
      <div
        class="col-lg-3 col-md-6 mt-2 hoverblockpayement p-2 rounded rounded-5 border"
        *ngFor="let frais of dataSource"
      >
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div>
              <img
                src="assets/logo/Etats_de_paiement_droits_scoalires.png"
                alt=""
              />
            </div>
            <div>
              <img class="imagemtn" src="assets/images/MTN Airtel money.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-8 col-md-8">
            <h3 class="fw-bold text-danger">{{ frais.sLibelleProduit }}</h3>
            <p>
              <span class="fw-bold">Date échéance : </span> <span> </span>
              <span> {{ convertToValideDates(frais.DateEcheance) }}</span>
            </p>
            <p>
              <span class="fw-bold">Montant : </span>
              <span>{{
                globalService.formatPrix(frais.MontantTotal, " ")
              }}</span>
            </p>
            <p>
              <span class="fw-bold">Déjà Payé : </span>
              <span>{{ globalService.formatPrix(frais.Deja_Paye, " ") }}</span>
            </p>
            <p>
              <span class="fw-bold">Reste à payer : </span>
              <span>
                {{ globalService.formatPrix(frais.Reste_A_Payer, " ") }}</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <mat-accordion *ngIf="dataSource; else loader">
    <mat-expansion-panel
      *ngFor="let item of dataSource"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header class="py-2">
        <mat-panel-title>
          {{ item.sLibelleProduit }}
        </mat-panel-title>
        <mat-panel-description class="d-none d-md-block">
          {{ item.DateEcheance | date : "short" }}
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <table class="table table-primary table-striped">
          <thead>
            <tr>
              <th scope="col">Date échéance</th>
              <th scope="col">{{ item.DateEcheance | date }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="py-1">Montant</th>
              <td class="py-1">
                {{ globalService.formatPrix(item.MontantTotal, " ") }}
              </td>
            </tr>

            <tr>
              <th scope="row" class="py-1">Payé</th>
              <td class="py-1">
                {{ globalService.formatPrix(item.Deja_Paye, " ") }}
              </td>
            </tr>

            <tr>
              <th scope="row" class="py-1">Reste à payer</th>
              <td class="py-1">
                {{ globalService.formatPrix(item.Reste_A_Payer, " ") }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-expansion-panel>
  </mat-accordion> -->
</app-gabarit-parent>

<ng-template #loader>
  <app-loader></app-loader>
  <p class="text-center text-white">Chargement de la liste</p>
</ng-template>
