table {
    width: 100%;
  }

  tr.example-detail-row {
    height: 0;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }

  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }

  .example-element-detail {
    overflow: hidden;
    display: flex;
  }

  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }

  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }

  .example-element-description {
    padding: 16px;
  }

  .example-element-description-attribution {
    opacity: 0.5;
  }


  $primary-color:#7b4bce;
  $secondary-color: #8cbec6;

  table {
    width: 100%;
  }
  .mat-elevation-z8 tr, .mat-elevation-z8 mat-header-cell {
    height: 2em;
  }
  .mat-elevation-z8 th, .mat-elevation-z8 mat-header-cell {
    background-color: $primary-color;
    color: white;
  }

  h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
  }
    //lignes
    tr:nth-child(even) {
      background-color: rgb(219, 209, 209);
  }

  mat-paginator{
    background-color: $primary-color;
  }

  .md-dialog {
    opacity: 0;
  }

  .tr > :hover{
    background-color:rgb(212, 207, 204);
    cursor: pointer;
    color: white;
  }

  mat-paginator{
    color: white !important;
  }
  .mat-mdc-select-value, .mat-mdc-select-arrow, #mat-select-value-1, .mat-mdc-select-min-line {
    color: white !important;
  }

  .custom-paginator .mat-paginator-page-size,
  .custom-paginator .mat-paginator-range-label {
    color: red; /* Remplacez "red" par la couleur de votre choix */
  }

th{
  font-weight: normal;
}
