<app-gabarit-parent>
  <div class="container-fuild m-3">
    <div class="row p-3 bg-light rounded rounded-5">
      <div class="col-lg-6">
        <h2 class="text-dark rounded rounded-5">
          Etat de paiement des frais scolaires de l'élève :
          <span class="text-danger">{{ eleve.NomPrenom }}</span>
        </h2>
      </div>
      <div class="col-lg-6">
        <button
          routerLink="/espace-parent/historique-paiement"
          class="form-control rounded rounded-5 text-white bg-table-color"
        >
          Voir l'historique de paiement <i class="fa-solid fa-eye"></i>
        </button>
      </div>
    </div>

    <div
      class="row rounded mt-3 rounded-5 p-3 bg-light"
      *ngIf="dataSource; else loader"
    >
      <div
        class="col-lg-3 col-md-6 pointer mt-2 hoverblockpayement p-2 rounded rounded-5 border"
        *ngFor="let frais of dataSource"
        (click)="paiementfraisEleveByparent(frais)"
      >
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="row">
              <div class="col-6">
                <div class="imagepaiement">
                  <img
                    src="assets/logo/Etats_de_paiement_droits_scoalires.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="d-block d-lg-none">
                  <img
                    class="resimage"
                    src="assets/images/MTN Airtel money.jpg"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div>
              <div class="d-none d-lg-block">
                <img
                  class="imagemtn"
                  src="assets/images/MTN Airtel money.jpg"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-8">
            <h3 class="fw-bold text-danger">{{ frais.sLibelleProduit }}</h3>
            <p>
              <span class="fw-bold">Date échéance : </span> <span> </span>
              <span> {{ convertToValideDates(frais.DateEcheance) }}</span>
            </p>
            <p>
              <span class="fw-bold">Montant : </span>
              <span>{{
                globalService.formatPrix(frais.MontantTotal, " ")
              }}</span>
            </p>
            <p>
              <span class="fw-bold">Déjà Payé : </span>
              <span>{{ globalService.formatPrix(frais.Deja_Paye, " ") }}</span>
            </p>
            <p>
              <span class="fw-bold">Reste à payer : </span>
              <span>
                {{ globalService.formatPrix(frais.Reste_A_Payer, " ") }}</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-gabarit-parent>

<ng-template #loader>
  <app-loader></app-loader>
  <p class="text-center text-white">Chargement de la liste</p>
</ng-template>
