<div class="container">
  <div class="col-12">
    <div class="card border-0">
      <app-close-modal></app-close-modal>
      <div class="card-body">
        <h3 class="card-title text-left" style="width: 26em">
          <h2 class="">
            {{ action === "view" ? "Fiche de l'observation " : "" }}
            {{ action === "edit" ? "Modifier l'observation" : "" }}
            {{ action === "view" || action === "edit" ? Observation : "" }}
            {{ !action ? "Ajouter une observation" : "" }}
          </h2>
        </h3>
        <form
          #natonaliteForm="ngForm"
          (ngSubmit)="onSubmitForm(natonaliteForm)"
          class="g-3 needs-validation"
          *ngIf="!isLoading; else loader"
        >
         <div>
          <label for="">Matière</label>
          <select
          name="IDMATIERE"
          [(ngModel)]="IDMATIERE"
          class="form-select"
          (change)="selectMatiereID($event)"
          [disabled]="true ? action != 'create' : false"
        >
          <option value="">Selectionner unne matière</option>
          <option
            *ngFor="let matiere of matiereList"
            [value]="matiere.IDMATIERE"
          >
            {{ matiere.Fr_NomMatiere }}
          </option>
        </select>
         </div>

          <div class="mt-3">
            <label for="validationCustom01" class="form-label"
              >Note Minimale</label
            >
            <input
              [readonly]="action == 'view'"
              type="number"
              class="form-control hauteur hauteur"
              name="noteMinimale"
              [(ngModel)]="noteMinimale"
            />
          </div>

          <div class="mt-3">
            <label for="validationCustom01" class="form-label"
              >Observation</label
            >
            <input
              [readonly]="action == 'view'"
              type="text"
              class="form-control hauteur"
              name="Observation"
              [(ngModel)]="Observation"
            />
          </div>

          <div class="row mt-3 pt-2 bg-light">
            <div class="col-lg-8" style="padding-right: 0px">
              <button
              [disabled]="action == 'view'"
                type="button"
                (click)="openColorPickerDialogGroupeMatiere()"
                class="form-control text-white"
                style="background-color: #7c57ce"
              >
                Selectionner une couleur
                <i class="fa-solid fa-check-double"></i>
              </button>
            </div>
            <div class="col-lg-4" style="padding-left: 0px">
              <p
                class="form-control"
                [style.background-color]="ColordefinitiveFondgroupMatiere"
              ></p>
            </div>
          </div>

          <div class="mt-3 m-auto" *ngIf="action != 'view'">
            <button
              type="submit"
              class="btn form-control btn-primary bg-primary text-light"
            >
              {{ action === "edit" ? "Modifier " : "Valider" }}
              <i class="fa-solid fa-arrows-rotate"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
