<app-gabarit pageTitle="Gestion des cycles">
  <div class="container-fluid mb-5 bg-light">
    <div class="row my-2">
      <div class="col-lg-6">
        <div class="d-flex align-items-center">
          <i
            style="position: absolute"
            class="fa-solid fa-map-marked-alt p-3 text-success"
          ></i>
          <input
            type="text"
            (keyup)="applyFilter($event)"
            placeholder="Recherchez par ici..."
            class="form-control shadow text-start px-5"
          />
        </div>
      </div>
      <div class="col-lg-6">
        <button
          class="form-control bg-table-color text-white button"
          style="cursor: pointer"
          (click)="create()"
        >
          Ajouter un cycle <i class="fa-sharp fa-solid fa-graduation-cap"></i>
        </button>
      </div>
    </div>
    <div class="mat-elevation-z8">
      <table
        mat-table
        [dataSource]="data"
        *ngIf="cycles$ | async as data; else loader"
      >
        <!-- Position Column -->

        <ng-container matColumnDef="Libelle">
          <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
            Libelle
          </th>
          <td class="pointer" mat-cell *matCellDef="let element">
            {{ element.Libelle }}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="NumOrdre">
                <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
                Numero ordre
                </th>
                <td
                  class="pointer"
                  mat-cell
                  *matCellDef="let element"
                >
                  {{ element.NumOrdre }}
                </td>
              </ng-container> -->

        <ng-container matColumnDef="Actions">
          <th
            mat-header-cell
            class="text-end"
            style="padding-right: 65px"
            *matHeaderCellDef
          >
            Actions
          </th>

          <td
            mat-cell
            class="text-end"
            style="padding-right: 50px"
            *matCellDef="let element"
          >
            <button
              type="button"
              (click)="view(element)"
              class="btn text-lowercase py-0 px-1"
            >
              <i class="fa fa-eye text-black" aria-hidden="true"></i>
            </button>
            <button
              type="button"
              (click)="edit(element)"
              class="btn text-lowercase py-0 px-1"
            >
              <i class="fa fa-pencil text-black" aria-hidden="true"></i>
            </button>
            <button
              type="button"
              (click)="delete(element)"
              class="btn text-lowercase px-1 py-0"
            >
              <i class="fa fa-trash text-danger" aria-hidden="true"></i>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

   <div class="mt-5">
      <mat-stepper labelPosition="bottom" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Type de Carte</ng-template>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input
                matInput
                placeholder="Last name, First name"
                formControlName="firstCtrl"
                required
              />
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel
              >Informations <br />
              personnel
            </ng-template>
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input
                matInput
                formControlName="secondCtrl"
                placeholder="Ex. 1 Main St, New York, NY"
                required
              />
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Services</ng-template>
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input
                matInput
                formControlName="secondCtrl"
                placeholder="Ex. 1 Main St, New York, NY"
                required
              />
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Resume</ng-template>
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input
                matInput
                formControlName="secondCtrl"
                placeholder="Ex. 1 Main St, New York, NY"
                required
              />
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Paiement</ng-template>
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input
                matInput
                formControlName="secondCtrl"
                placeholder="Ex. 1 Main St, New York, NY"
                required
              />
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
      </mat-stepper>
    </div>

    <div class="mt-5">
      <div class="container">
        <div class="accordion" id="accordionExample">
          <div class="steps">
            <progress id="progress" value="0" max="100"></progress>
            <div class="step-item">
              <button
                class="step-button text-center"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                1
              </button>
              <div class="step-title">Type de Carte</div>
            </div>
            <div class="step-item">
              <button
                class="step-button text-center collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                2
              </button>
              <div class="step-title">Informations <br> personnelles</div>
            </div>
            <div class="step-item">
              <button
                class="step-button text-center collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                3
              </button>
              <div class="step-title">Services</div>
            </div>
            <div class="step-item">
              <button
                class="step-button text-center collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                4
              </button>
              <div class="step-title">Résumé</div>
            </div>
            <div class="step-item">
              <button
                class="step-button text-center collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFifht"
                aria-expanded="false"
                aria-controls="collapseFifht"
              >
                5
              </button>
              <div class="step-title">Paiement</div>
            </div>
          </div>

          <div class="card">
            <div id="headingOne"></div>

            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="card-body">
                st1 Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Est sit enim nemo consectetur esse ipsum aliquam natus saepe,
                amet voluptates deserunt dignissimos perspiciatis assumenda
                incidunt quo explicabo inventore doloribus quaerat.
              </div>
            </div>
          </div>
          <div class="card">
            <div id="headingTwo"></div>
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="card-body">
                st2 Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatum, deleniti deserunt quod facilis accusantium molestiae
                ipsum eaque quaerat eos non amet impedit nam, possimus iure.
                Consectetur ab quia nulla soluta.
              </div>
            </div>
          </div>
          <div class="card">
            <div id="headingThree"></div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="card-body">
                st3 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Quasi, necessitatibus ad. Mollitia recusandae repellat
                voluptates perferendis ad rerum quae corporis? Voluptatibus vel
                omnis aliquam ducimus iusto laboriosam eum temporibus at?
              </div>
            </div>
          </div>
          <div class="card">
            <div id="headingThree"></div>
            <div
              id="collapseFour"
              class="collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="card-body">
                st4 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Quasi, necessitatibus ad. Mollitia recusandae repellat
                voluptates perferendis ad rerum quae corporis? Voluptatibus vel
                omnis aliquam ducimus iusto laboriosam eum temporibus at?
              </div>
            </div>
            <div class="card">
              <div id="headingThree"></div>
              <div
                id="collapseFifht"
                class="collapse"
                aria-labelledby="headingThree"
                data-bs-parent="#accordionExample"
              >
                <div class="card-body">
                  st5 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Quasi, necessitatibus ad. Mollitia recusandae repellat
                  voluptates perferendis ad rerum quae corporis? Voluptatibus
                  vel omnis aliquam ducimus iusto laboriosam eum temporibus at?
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 

    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
</app-gabarit>
