<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h2 class="text-center mt-2 mb-4">
          Veuillez selectionner le niveau et la branche
        </h2>
        <form class="needs-validation"  (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-lg-6">
              <label for="validationCustom01" class="form-label">NIVEAU</label>

              <select
                class="form-select"
                name="IDNIVEAU"
                [(ngModel)]="IDNIVEAU"
                aria-label="Default select example"
              >
                <option disabled>selectionner le niveau</option>
                <option
                  *ngFor="let niveau of niveauList"
                  [value]="niveau.IDNIVEAU"
                >
                  {{ niveau.NomNiveau }}
                </option>
              </select>
            </div>

            <div class="col-lg-6">
              <label for="validationCustom01" class="form-label">BRANCHE</label>

              <select
                class="form-select"
                name="IDBRANCHE"
                [(ngModel)]="IDBRANCHE"
                aria-label="Default select example"
              >
                <option disabled>selectionner la barnche</option>
                <option
                  *ngFor="let branche of brancheList"
                  [value]="branche.IDBRANCHE"
                >
                  {{ branche.NomBranche }}
                </option>
              </select>
            </div>
          </div>

          <div class="mt-5">
            <button type="submit" class="btn form-control btn-primary" [mat-dialog-close]="true">
              valider
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="fa-3x text-start mb-2 mt-2">
    <span class="fs-5 mb-2 mt-2"></span> <br /><br />
    <i class="fas text-primary spinner-grow"></i><br />
  </div>
</ng-template>
