<div class="row" style="background-color: orange !important">
  <div class="col-12">
    <div class="card border-0">
      <app-close-modal></app-close-modal>
      <div class="card-body">
        <h3 class="card-title" style="width: 30em">
          <h1 class="fw-bold">Paiement frais Scolaire de l'élève :  <span class="text-danger">{{eleve.Nom}}</span></h1>
        </h3>
        <form #natonaliteForm="ngForm" class="g-3 needs-validation">
          <div class="mt-3">
            <label for="validationCustom01" class="form-label label"
              >Référence</label
            >
            <select
              *ngIf="!isLoading; else loading"
              class="form-select"
              name="CodeProduit"
              [(ngModel)]="selectproduit"
              (change)="checkProduit(selectproduit)"
            >
              <option *ngFor="let frais of FraisScolaire" [ngValue]="frais">
                {{ frais.CodeProduit }} / {{ frais.sLibelleProduit }}
              </option>
            </select>
          </div>

          <div class="mt-3">
            <label for="validationCustom01" class="form-label label"
              >Détail</label
            >
            <p class="form-control text-dark bg-light">{{ this.Details }}</p>
          </div>

          <div class="mt-3">
            <label for="validationCustom01" class="form-label label"
              >Montant</label
            >
            <input
              (change)="changeMontant($event)"
              type="text"
              class="form-control"
              name="Montant"
              [(ngModel)]="Montant"
            />
          </div>

          <div class="mt-3">
            <label for="validationCustom01" class="form-label label"
              >Mobile du payeur</label
            >
            <input
              (change)="changeMobile($event)"
              type="text"
              class="form-control"
              name="MobilePayeur"
              [(ngModel)]="MobilePayeur"
            />
          </div>

          <div class="mt-3 m-auto">
            <button
              (click)="Valider()"
              [disabled]="!isFormValid()"
              style="background-color: RGB(123 75 206)"
              class="btn text-white form-control btn-primary"
              *ngIf="!isLoadingverfy; else loading"
            >
              {{ textvalidate }} <i class="fa-solid fa-arrows-rotate"></i>
            </button>
          </div>
          <div class="mt-3 m-auto"   *ngIf="togglebtnreprise">
            <button
              *ngIf="!isLoadingverfyreprise; else loading"
              (click)="RepriseVerification()"
              style="background-color: RGB(123 75 206)"
              class="btn text-white form-control btn-primary"
            >
              Vérifier le statut du paiement
              <i class="fa-solid fa-arrows-rotate"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loader></app-loader>
  <p class="text-center text-danger">{{ infopaiement }}</p>
</ng-template>
