<div class="example-action-buttons">
  <h2 class="text-light">Absences</h2>
</div>
<mat-accordion>
  <mat-expansion-panel *ngFor="let month of monthWithObject" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="py-2">
      <mat-panel-title>
        {{ month.month.name }}
      </mat-panel-title>
      <mat-panel-description class="d-none d-md-block">

        <mat-icon>date_range</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>

      <table class="table table-primary">
        <thead>
          <tr>
            <th scope="col" class="">Date, heure, mat...</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let abs of month.absences; let i = index">
            <td class=" py-1" [ngStyle]="{background: abs.Couleur}">
              <div class="row">
                <div class="col-sm-4 text-start">{{ abs.Date | date }} </div>

                <div class="col-sm-4  text-start">
                  {{ typeAbsence.ABSENCE == abs.nTypeAbsence ? abs.bAbsenceJustifiee ? 'Absence justifiée' : 'Absence non justifiée' : '' }}

                  {{ typeAbsence.RETARD == abs.nTypeAbsence ? abs.bAbsenceJustifiee ? 'Retard justifié' : 'Retard non justifié' : '' }}
                </div>

                <div class="col-sm-4  text-start">{{ abs.MATIERES }}</div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </mat-expansion-panel>

</mat-accordion>
