<app-gabarit pageTitle="Classement et relevé de notes des élèves">
  <form [formGroup]="paramFilterForm"  class="container-fluid bg-light mt-4 p-3">
    <div class="row">
      <div class="col-lg-2 col-md-12">
        <div class="content">
          <span class="text-on-border">Trier les élèves selon</span>
          <div class="form-check mt-3">
            <input
              class="form-check-input"
              formControlName="NumeroTrimestre"
              [value]="1"
              type="radio"
              id="flexRadioDefault1"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              La moyenne du premier trimestre
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              formControlName="NumeroTrimestre"
              [value]="2"
              id="flexRadioDefault1"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              La moyenne du deuxième trimestre
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              formControlName="NumeroTrimestre"
              [value]="3"
              id="flexRadioDefault1"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              La moyenne du troisième trimestre
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              formControlName="NumeroTrimestre"
              [value]="0"
              id="flexRadioDefault1"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              La moyenne annuelle
            </label>
          </div>
          <div>
            <select
              class="form-select"
              aria-label="Default select example"
              *ngIf="(numeroSequences$ | async) as periodeList; else loader"
              formControlName="NumeroSequence"
            >
              <option selected>Selectionner une sequence</option>
              <option
                *ngFor="let periode of periodeList; let i = index"
                [value]="periode.NumPeriode"
              >
                {{ periode.NomPeriode }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-12">
        <div class="content">
          <span class="text-on-border">Elèves concernés</span>
          <div class="row">
            <div class="col-lg-7">
              <div class="form-check mt-3">
                <input
                  class="form-check-input"
                  type="radio"
                  id="flexRadioDefault2"
                  [value]="1"
                  formControlName="eleveConcerned"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Tous les élèves de l'établissement
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  id="flexRadioDefault2"
                  [value]="2"
                  formControlName="eleveConcerned"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Les élèves d'un niveau/branche
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  id="flexRadioDefault2"
                  [value]="3"
                  formControlName="eleveConcerned"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Les élèves d'un niveau
                </label>
              </div>

              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  id="flexRadioDefault2"
                  [value]="4"
                  formControlName="eleveConcerned"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Les élèves d'une branche
                </label>
              </div>
              <div class="row">
                <div class="col-lg-2">
                  <p class="pt-2">Niveau</p>
                </div>
                <div class="col-lg-10">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    *ngIf="(niveaux$ | async) as niveauList; else loader"
                    formControlName="IDNIVEAU"
                  >
                    <option selected>Selectionner un niveau</option>
                    <option *ngFor="let n of niveauList" [value]="n.IDNIVEAU">
                      {{ n.NomNiveau }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-2">
                  <p class="pt-2">Branche</p>
                </div>
                <div class="col-lg-10">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    *ngIf="(branches$ | async) as brancheList; else loader"
                    formControlName="IDBRANCHE"
                  >
                    <option selected>Selectionner une branche</option>
                    <option *ngFor="let b of brancheList" [value]="b.IDBRANCHE">
                      {{ b.NomBranche }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  formControlName="eleveConcerned"
                  id="flexRadioDefaultclasse"
                  [value]="5"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Les élèves d'une classe
                </label>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <label for="">Classe</label>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    *ngIf="(classes$ | async) as classeList; else loader"
                    formControlName="IDCLASSES"
                  >
                    <option selected [value]="0">Toutes les classes</option>
                    <option
                      *ngFor="let classe of classeList"
                      [value]="classe.IDCLASSES"
                    >
                      {{ classe.CodeClasse }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="content mt-3">
                <span class="text-on-border">Sexes affichés</span>
                <div class="form-check mt-2">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="sexe"
                    id="flexCheckDefault"
                    disabled
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    Masculin
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="flexCheckDefault"
                    disabled
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    Féminin
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="flexCheckDefault"
                    disabled
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    Masculin et Féminin
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
          <div class="row">
            <div class="col-md-6">
              <div class="content">
                <span class="text-on-border">Matières concernées</span>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        id="flexRadioDefault02"
                        disabled
                      />
                      <label class="form-check-label" for="flexRadioDefault01">
                        Un groupe de matières
                      </label>
                    </div>
                    <div class="mt-3" >
                      <label for="">Selectionner une matière</label>
                      <select
                      class="form-select"
                      aria-label="Default select example"
                      *ngIf="(matieres$ | async) as matieres; else loader"
                      formControlName="GoupeMatiere"
                      (change)="getSelectedMatiereId()"
                  >
                      <option selected [value]="0">Toutes les matières</option>
                      <option *ngFor="let m of matieres" [value]="m.IDMATIERE">
                          {{ m.Matiere }}
                      </option>
                  </select>
                  
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="content">
                <span class="text-on-border">Options des matières</span>
                <div class="row mt-3">
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        (change)="toggleDetailleMatiere($event)"
                        [checked]="istchekedcase"
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        Afficher le detail des matières
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="flexCheckDefault"
                        disabled
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        Afficher les sous matières
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        (change)="togglecompteMtiere($event)"
                        [checked]="istcheckedCompteMatiere"
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        Tenir compte de coefficient de matières
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 pt-4" >
              <button class="form-control bg-table-color text-white"  (click)="loadClassement()">
                Afficher le résultat
              </button>
            </div>
          </div>
      </div>
    </div>

    <div class="bloc-table">
      <table class="table table-success table-striped" *ngIf="(classement$ | async) as classement; else loader">
        <tr>
          <th style="width: 4em;" scope="col" class="text-start">Rang</th>
          <th style="width: 8em;" scope="col" class="text-start">Matricule</th>
          <th scope="col" class="text-start">Eleve</th>
          <th scope="col" style="width: 2em;">Genre</th>
          <th scope="col" *ngFor="let titleNote of classement.TitresNotes">{{ titleNote.LibelleColonne }}</th>
          <th scope="col" *ngIf="classement.tTitrePeriodes.bMoyennePeriode1Visible">{{ classement.tTitrePeriodes.MoyennePeriode1Libelle }}</th>
          <th scope="col" *ngIf="classement.tTitrePeriodes.bMoyennePeriode2Visible">{{ classement.tTitrePeriodes.MoyennePeriode2Libelle }}</th>
          <th scope="col" *ngIf="classement.tTitrePeriodes.bMoyennePeriode3Visible">{{ classement.tTitrePeriodes.MoyennePeriode3Libelle }}</th>
          <th scope="col" *ngIf="classement.tTitrePeriodes.bTotapointsVisible">T. points</th>
          <th scope="col" *ngIf="classement.tTitrePeriodes.bTotalCoefficient">T. coeff</th>
          <th scope="col" *ngIf="classement.tTitrePeriodes.bMoyenneVisible">Moy.</th>
        </tr>
        <tr  *ngFor="let eleve of classement.Resultats">
          <td style="width: 4em;" class="colord">{{ eleve.COL_Rang }}</td>
          <td style="width: 8em;" class="colord">{{ eleve.COL_CodeEleve }}</td>
          <td class="text-start">{{ eleve.COL_NomPrenom }}</td>
          <td style="width: 2em;">{{ eleve.COL_Sexe }}</td>
          <td *ngFor="let note of eleve.DetailNotes">{{ note.Note }}</td>
          <td *ngIf="classement.tTitrePeriodes.bMoyennePeriode1Visible">{{ eleve.COL_Periode1 }}</td>
          <td *ngIf="classement.tTitrePeriodes.bMoyennePeriode1Visible">{{ eleve.COL_Periode2 }}</td>
          <td *ngIf="classement.tTitrePeriodes.bMoyennePeriode1Visible">{{ eleve.COL_Periode3 }}</td>
          <td *ngIf="classement.tTitrePeriodes.bTotapointsVisible">{{ eleve.COL_TPoints }}</td>
          <td *ngIf="classement.tTitrePeriodes.bTotalCoefficient">{{ eleve.COL_TCoef }}</td>
          <td *ngIf="classement.tTitrePeriodes.bMoyenneVisible">{{ eleve.COL_Moy }}</td>
        </tr>
      </table>
    </div>

    <div class="row mt-3 p-0">
      <div class="col-lg-3 col-md-6">
        <button
          class="form-control bg-table-color text-white"
          *ngIf="!printIsLoading;else loader"
          (click)="printClassement()"
        >
          Imprimer le classement <i class="fa-solid fa-print"></i>
        </button>
      </div>
      <div class="col-lg-2 ">
        <button *ngIf="!printIsLoadingM;else loader" (click)="printMatrise()" class="form-control bg-table-color text-white ">
          Imprimer la matrice <i class="fa-solid fa-print"></i>
        </button>
      </div>
      <div class="col-lg-3">
        <button (click)="openPageStatistiqueBydiscipline()" class="form-control bg-table-color text-white">
          Statistiques par discipline
        </button>
      </div>
        <!-- <div class="col-lg-2 col-md-6">
          <button class="form-control bg-table-color text-white">
            Elèves admis <i class="fa-solid fa-user"></i>
          </button>
        </div>
      <div class="col-lg-2 col-md-6">
        <button class="form-control bg-table-color text-white">
          Elèves faibles <i class="fa-solid fa-user"></i>
        </button>
      </div> -->

      <div class="col-lg-3 col-md-6">
        <div class="col-lg-12">
          <label for="export" class=""
            >Exporter la liste vers un fichier
            <i
              class="fa-solid text-danger fa-file-pdf"
              style="padding-left: 10px"
            ></i>
            <i
              style="padding-left: 10px"
              class="fa-solid text-primary fa-file-word"
            ></i>
            <i
              style="padding-left: 10px; color: green"
              class="fa-solid fa-file-excel"
            ></i
          ></label>
          <select
            class="form-select"
            id="export"
            aria-label="Default select example"
          >
            <option selected>Choisir le type de fichier</option>
            <option [value]="1">
              Un fichier PDF <i class="fa-solid fa-file-pdf"></i>
            </option>
            <option [value]="2">Un fichier Word</option>
            <option [value]="3">
              Un fichier Excel <i class="fa-solid fa-file-excel"></i>
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <!-- <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6">
            <button class="form-control bg-table-color text-white">
              Tableau d'honneur <i class="fa-solid fa-table"></i>
            </button>
          </div>
          <div class="col-lg-6">
            <button class="form-control bg-table-color text-white">
              Tableau d'honneur global <i class="fa-solid fa-table"></i>
            </button>
          </div>
        </div>
      </div> -->
      <div class="col-lg-6">
        <div class="row">
          <!-- <div class="col-lg-6">
            <button (click)="openPageStatistiqueBydiscipline()" class="form-control bg-table-color text-white">
              Statistiques par discipline
            </button>
          </div> -->
          <!-- <div class="col-lg-6">
            <button class="form-control bg-table-color text-white">
              Taux de réussite par discipline
            </button>
          </div> -->
        </div>
      </div>
    </div>
    <!-- <div class="row mt-3">
      <div class="col-lg-3 col-md-6">
        <button class="form-control bg-table-color text-white">
          Elèves admis <i class="fa-solid fa-user"></i>
        </button>
        <button class="form-control bg-table-color text-white mt-3">
          Elèves faibles <i class="fa-solid fa-user"></i>
        </button>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="content">
          <span class="text-on-border"
            >Imprimer <i class="fa-solid fa-print"></i
          ></span>
          <div class="row mt-3">
            <div class="col-lg-4">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Ordre
                </label>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Matricule
                </label>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Ruptures
                </label>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefaulrrt"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Rang
                </label>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Moyenne
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="content pt-3">
          <span class="text-on-border">Trier par</span>
          <div class="row">
            <div class="col-lg-6">
              <div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    Rang
                  </label>
                </div>
              </div>
              <div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    Nom et prénom
                  </label>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <label for="">NB Colonnes</label>
              <input
                type="number"
                class="form-control"
                style="height: 30px !important; width: 100px !important"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="row">
          <div class="col-lg-3">
            <p>Resultats</p>
          </div>
          <div class="col-lg-6">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="flexRadioDefault1"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                Par moyenne
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <p>Globaux</p>
          </div>
          <div class="col-lg-6">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="flexRadioDefault1"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                Par total de notes
              </label>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="row mt-3">
      <div class="col-lg-4 ">
        <button *ngIf="!printIsLoadingM;else loader" (click)="printMatrise()" class="form-control bg-table-color text-white ">
          Imprimer la matrice <i class="fa-solid fa-print"></i>
        </button>
      </div>
      <div class="col-lg-4">
        <button class="form-control">
          Tableau des disciplines par ordre de mérite
          <i class="fa-solid fa-table"></i>
        </button>
      </div>
      <div class="col-lg-4">
        <button class="form-control">
          Impression et export <i class="fa-solid fa-print"></i>
        </button>
      </div>
    </div> -->
  </form>

</app-gabarit>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
