<app-gabarit pageTitle="Configuration emploi du temps">
  <div class="bg-light">
    <div class="row" *ngIf="(dataSource$ | async) as data">
      <div class="col-md-4">
        <select class="form-select" aria-label="Default select example">
          <option disabled selected>Premier jour de la semaine</option>
          <option *ngFor="let item of weekDays; let i=index" [value]="i+1">{{ item }}</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-select" aria-label="Default select example">
          <option disabled selected>Premier jour de la semaine</option>
          <option *ngFor="let item of weekDays; let i=index" [value]="i+1">{{ item }}</option>
        </select>
      </div>
      <div class="col-md-4">

      </div>
    </div>

    <div class="row">
      <div class="col-md-11">
        <app-table-config-emploi [dataEmploiDuTemps$]="dataSource$"></app-table-config-emploi>
      </div>
    </div>
  </div>
</app-gabarit>
