
.custom-scrollbar {
    scrollbar-width: thin; /* Pour Firefox */
    scrollbar-color: red; /* Couleur de la barre et de la piste */
}
.custom-scrollbar::-webkit-scrollbar {
    width: 5px; 
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(71, 25, 25); /* Couleur de la barre */
}
.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #eee; /* Couleur de la piste */
}


/* Ajoutez ces styles à votre feuille de style CSS */
.image-container {
    width: 50%; /* ou toute autre largeur souhaitée */
    overflow: hidden; /* Empêche le défilement */
    position: relative; /* Permet de positionner l'image à l'intérieur */
    height: 200px; /* ou toute autre hauteur souhaitée */
}

.full-width {
    width: 100%; /* L'image occupe 100% de la largeur du conteneur */
    height: auto; /* Maintient le rapport hauteur/largeur de l'image */
    display: block; /* Supprime l'espace supplémentaire sous l'image */
}
.nav-item{
    width: 50%;
}
