<app-gabarit pageTitle="Journal d'opérations diverses">
  <div class="container-fuild mb-5">
  <div class="bg-light">
    <div class="row bg-light pt-3 m-0">
      <div class="col-lg-2">
        <label for="" class="text-center mx-1">Recherche</label>
        <div class="d-flex align-items-center mb-2">
          <i
            style="position: absolute"
            class="fa-solid fa-map-marked-alt p-3 text-success"
          ></i>
          <input
            type="text"
            (keyup)="applyFilter($event)"
            placeholder="Rechercher un mvm..."
            class="form-control shadow text-start px-5 text-uppercase"
          />
        </div>
      </div>
      <div class="col-lg-2">
        <label for="">Date de début</label>
        <input
          type="date"
          (change)="getDateDebut($event)"
          class="form-control"
          [(ngModel)]="dateDebut"
        />
      </div>
      <div class="col-lg-2">
        <label for="">Date de Fin</label>
        <input
          type="date"
          class="form-control"
          (click)="getDateFin($event)"
          [(ngModel)]="dateFin"
        />
      </div>
      <div class="col-lg-3">
        <label for=""></label>
        <button
          class="form-control mt-1 bg-table-color text-white"
          (click)="readListOD()"
        >
          Afficher le journal <i class="fa-solid fa-list"></i>
        </button>
      </div>
      <div class="col-lg-3">
        <label for=""></label>
        <button
          class="form-control mt-1 bg-table-color text-white"
          *ngIf="!isloadprintOD; else loader"
          (click)="PrintListOperationsDivers()"
        >
          Imprimer le journal <i class="fa-solid fa-print"></i>
        </button>
      </div>
    </div>
    <div class="row m-0 pb-3">
      <div class="col-lg-6">
        <button class="form-control bg-table-color text-white" routerLink="/saisie/operations/divers">Saisir une nouvelle opération divers</button>
      </div>
      <div class="col-lg-6">
        <button class="form-control bg-table-color text-white" routerLink="/retrait-espece-caisse" >Retrait caisse espèce </button>
      </div>
    </div>
    <div class="mat-elevation-z8" style="max-height: 400px; overflow-y: auto">
      <table
        mat-table
        [dataSource]="dataSource"
        *ngIf="!isLoading; else loader"
      >
        <ng-container matColumnDef="IDMOUVEMENT">
          <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
            Numéro Mouvement
          </th>
          <td
            class="pointer"
            mat-cell
            *matCellDef="let element"
            (click)="onClickLine(element)"
            [ngClass]="{
              'bg-color': mouvementSelected == element,
              cursor: mouvementSelected
            }"
          >
            {{ element.IDMOUVEMENT }}
          </td>
        </ng-container>

        <ng-container matColumnDef="DateHeure">
          <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
            Date et Heure
          </th>
          <td
            class="pointer"
            mat-cell
            *matCellDef="let element"
            (click)="onClickLine(element)"
            [ngClass]="{
              'bg-color': mouvementSelected == element,
              cursor: mouvementSelected
            }"
          >
            {{ convertToValideDateH(element.DateHeure) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Caissier">
          <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
            Caissier
          </th>
          <td
            class="pointer"
            mat-cell
            *matCellDef="let element"
            (click)="onClickLine(element)"
            [ngClass]="{
              'bg-color': mouvementSelected == element,
              cursor: mouvementSelected
            }"
          >
            {{ element.Caissier }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Libelle">
          <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
            Libelle
          </th>
          <td
            class="pointer"
            mat-cell
            *matCellDef="let element"
            (click)="onClickLine(element)"
            [ngClass]="{
              'bg-color': mouvementSelected == element,
              cursor: mouvementSelected
            }"
          >
            {{ element.Libelle }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Montant">
          <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
            Montant
          </th>
          <td
            class="pointer"
            mat-cell
            *matCellDef="let element"
            (click)="onClickLine(element)"
            [ngClass]="{
              'bg-color': mouvementSelected == element,
              cursor: mouvementSelected
            }"
          >
            {{ formatPrix(element.Montant) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Actions">
          <th
            mat-header-cell
            class="text-end"
            style="padding-right: 125px"
            *matHeaderCellDef
          >
            Actions
          </th>

          <td
            mat-cell
            class="text-end"
            *matCellDef="let element"
            (click)="onClickLine(element)"
            [ngClass]="{
              'bg-color': mouvementSelected == element,
              cursor: mouvementSelected
            }"
          >
            <button
              type="button"
              (click)="edit(element.IDMOUVEMENT)"
              [disabled]="element.Valide"
              class="btn border bg-table-color text-white text-lowercase py-0 px-1"
            >
              <span>Modifié</span>
              <i class="fa fa-pencil px-1 text-white" aria-hidden="true"></i>
            </button>
            <button
              type="button"
              [disabled]="element.Valide"
              (click)="delete(element)"
              class="btn border bg-danger text-white text-lowercase px-1 py-0"
            >
              <span>supprimé</span>
              <i class="fa fa-trash px-1 text-white" aria-hidden="true"></i>
            </button>
            <button
              type="button"
              (click)="valider(element)"
              [disabled]="element.Valide"
              [ngClass]="{
                'bg-red': !element.Valide,
                'bg-green': element.Valide
              }"
              class="btn border text-white text-lowercase py-0 px-1"
            >
              <span>Validé</span>
              <i
                style="font-size: 13px"
                *ngIf="!element.Valide"
                class="fa-solid px-1 fa-circle-xmark"
              ></i>
              <i *ngIf="element.Valide" class="fa-solid px-1 fa-check"></i>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>

    <div class="mt-5 bg-light">
      <div class="bg-light w-100" style="padding-left: 10px">
        <h1>
          Détail de l'opération :
          <span class="text-danger">{{ ndetails }}</span>
        </h1>
      </div>
      <div class="mat-elevation-z8" style="max-height: 400px; overflow-y: auto">
        <table
          mat-table
          [dataSource]="dataSource2"
          *ngIf="!isLoading; else loader"
        >
          <ng-container matColumnDef="NumeroMouvement">
            <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
              Numéro Mouvement
            </th>
            <td class="pointer" mat-cell *matCellDef="let element">
              {{ element.NumeroMouvement }}
            </td>
          </ng-container>

          <ng-container matColumnDef="LibelleCompte">
            <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
              Libelle Compte
            </th>
            <td class="pointer" mat-cell *matCellDef="let element">
              {{ element.LibelleCompte }}
            </td>
          </ng-container>

          <ng-container matColumnDef="CodeCompte">
            <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
              Code Compte
            </th>
            <td class="pointer" mat-cell *matCellDef="let element">
              {{ element.CodeCompte }}
            </td>
          </ng-container>

          <ng-container matColumnDef="LibelleEcriture">
            <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
              Libelle
            </th>
            <td class="pointer" mat-cell *matCellDef="let element">
              {{ element.LibelleEcriture }}
            </td>
          </ng-container>

          <ng-container matColumnDef="MontantDebit">
            <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
              Débit
            </th>
            <td class="pointer" mat-cell *matCellDef="let element">
              {{ formatPrix(element.MontantDebit) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="MontantCredit">
            <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
              Crédit
            </th>
            <td class="pointer" mat-cell *matCellDef="let element">
              {{ formatPrix(element.MontantCredit) }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
        </table>
      </div>
    </div>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
</app-gabarit>
