<app-gabarie-eleve>
    <div class="container-fluid bg-light">
      <div class="col-12">
        <div class="card border-0" *ngIf="(devoir$ | async) as devoir; else loader">
          <div class="card-body">
            <div class="row info-devoir">
              <h3 class="card-title text-left">
                {{ devoir.Titre }}
              </h3>
              <div class="row">
                <div class="col-md-6">
                    <table>
                        <tr> <td>Professeur :</td> <td> {{ devoir.ENSEIGNANT }}</td></tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table>
                        <tr> <td>Correction :</td> <td> {{ devoir.DateCorrection | date }}</td></tr>
                    </table>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                    <table>
                        <tr> <td>Matière :</td> <td> {{ devoir.MATIERE }}</td></tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table>
                        <tr> <td>Niveau :</td> <td> {{ devoir.CLASSE }}</td></tr>
                    </table>
                </div>
              </div>
            </div>
            <form >
            <div class="row">
              <div class="form-floating mt-3 loader-bloc">
                <div style="position: absolute;" class="w-100 h-100"></div>
              <quill-editor
                  #quillEditor
                  name="Sujet"
                  [(ngModel)]="Sujet"
                  [modules]="quillModules"
                  [styles]="{ height: '150px' }"
                ></quill-editor> 
              </div>
            </div>

            <a
                type="button"
                *ngIf="devoir.Fichiers; else empty"
                class="bg-table-color text-light text-center w-100 mt-2 border-0 rounded"
                (click)="onOpenPdf(devoir.Fichiers)"
            >
            <span *ngIf="!isUpload">Cliquer ici pour télécharger le fichier joint</span>
            <app-loader *ngIf="isUpload"></app-loader>
          </a>

            <ng-template #empty>
                <p class="py-1 text-danger">Aucun fichier joint</p>
            </ng-template>
            
            </form>
          </div>
        </div>
      </div>
    </div>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  
</app-gabarie-eleve>