<div class="container" >
  <div class="col">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="card-title  text-left">Cliquer sur une ligne pour sélectionner la classe.</h2>
      </div>
      <div class="col-lg-6 text-right ">
        <li
        class="nav-item text-left"
        style="list-style: none"
      >
        <app-close-modal></app-close-modal>
      </li>
      </div>
     </div>
    
      <div class="row">
        <div class="col-lg-6">
          <label for="" class="text-center mx-1">Recherche</label>
          <div class="d-flex align-items-center">
            <i
              style="position: absolute"
              class="fa-solid fa-search p-3 text-success"
            ></i>
            <input
              type="text"
              (keyup)="applyFilter($event)"
              placeholder="Recherchez par ici..."
              class="form-control shadow text-start px-5 text-uppercase"
            />
          </div>
        </div>
        <div class="col-lg-6 pt-1">
          <button
            style="background-color: #7b4bce"
            (click)="view()"
            [mat-dialog-close]="true"
            class="form-control text-white mt-4"
          >
            Valider la sélection
          </button>
        </div>
      </div>
      <div class="mat-elevation-z8 mt-4">
        <table class="mb-4" mat-table [dataSource]="dataSource" *ngIf="!isLoading; else loader">
          <!-- Position Column -->
    
          <ng-container matColumnDef="CodeClasse">
            <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
              Code Classe
            </th>
            <td
              class="pointer"
              style="cursor: pointer"
              mat-cell
              *matCellDef="let element"
              (click)="onClickLine(element)"
              [ngClass]="{
                'bg-color': classeSelected == element,
                cursor: classeSelected
              }"
            >
              {{ element.CodeClasse }}
            </td>
          </ng-container>
    
          <ng-container matColumnDef="NomClasse">
            <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
              Classe
            </th>
            <td
              class="pointer"
              style="cursor: pointer"
              mat-cell
              *matCellDef="let element"
              (click)="onClickLine(element)"
              [ngClass]="{
                'bg-color': classeSelected == element,
                cursor: classeSelected
              }"
            >
              {{ element.NomClasse }}
            </td>
          </ng-container>
    
          <ng-container matColumnDef="nNbreEleve">
            <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
              Nombre Eleve
            </th>
            <td
              class="pointer"
              style="cursor: pointer"
              mat-cell
              *matCellDef="let element"
              (click)="onClickLine(element)"
              [ngClass]="{
                'bg-color': classeSelected == element,
                cursor: classeSelected
              }"
            >
              {{ element.nNbreEleve }}
            </td>
          </ng-container>
    
          <ng-container matColumnDef="nCapacite">
            <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
              Capacité
            </th>
            <td
              class="pointer"
              style="cursor: pointer"
              mat-cell
              *matCellDef="let element"
              (click)="onClickLine(element)"
              [ngClass]="{
                'bg-color': classeSelected == element,
                cursor: classeSelected
              }"
            >
              {{ element.nCapacite }}
            </td>
          </ng-container>
    
    
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <div class="mt-4"></div>
  </div>

</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>