
    <div class="">
        <form  [formGroup]="filterForm" class="bg-light p-3">
            <div class="row">
        
              <div class="col-md-4">
                <label for="validationCustom01 label" class="form-label">Nom</label>
                <input
                  formControlName="Fr_Nom"
                  type="text"
                  class="form-control hauteur hauteur text-uppercase"
                />
              </div>
    
              <div class="col-md-4">
                <label for="validationCustom01 label" class="form-label">Prénom</label>
                <input
                  formControlName="Fr_Prenom"
                  type="text"
                  class="form-control hauteur hauteur text-uppercase"
                />
              </div>
        
              <div class="col-md-4">
                <label for="validationCustom02 label" class="form-label">Fonction</label>
        
                <div class="d-flex align-items-center">
                  <input
                    type="text"
                    class="form-control hauteur form-select text-uppercase"
                    formControlName="Fonction" (input)="onInputFonction($event)"  placeholder="Fonction" [matAutocomplete]="fonctions"
                  />
                  <mat-autocomplete #fonctions>
                    <mat-option *ngFor="let fonction of fonctionList" [value]="fonction.IDFONCTIONS" (click)="onSelectFonction(fonction)">{{ fonction.Libelle }}</mat-option>
                  </mat-autocomplete>
                </div>
            </div>
        
            <div class="form-group col-lg-3">
                <label for="" class="mt-1 label"
                  >Sexe</label
                >
                <select
                  class="form-control form-select"
                  aria-label="Default select example"
                  id="name"
                  formControlName="Civilite"
                >
                  <option disabled>Selectionné votre Sexe</option>
                  <option value="1">Homme</option>
                  <option value="2">Femme</option>
                </select>
            </div>
    
            <div class="form-group col-lg-3">
                <label for="" class="mt-1 label">Site</label>
                <div class="d-flex align-items-center">
                  <input
                    type="text"
                    class="form-control form-select"
                    formControlName="Site"
                    (input)="onInputSite($event)"  placeholder="Site" [matAutocomplete]="sites"
                  />
                  <mat-autocomplete #sites>
                    <mat-option *ngFor="let site of suggestSiteList" [value]="site.Libelle" (click)="onSelectSite(site)">{{ site.Libelle }}</mat-option>
                  </mat-autocomplete>
                </div>
              </div>
    
              <div class="form-group col-lg-3">
                <label for="" class="mt-1 label"
                  >Echelon <span class="text-danger"></span></label
                >
    
                <div class="d-flex align-items-center">
                  <input
                    type="text"
                    class="form-control form-select"
                    formControlName="Echelon" 
                    (input)="onInputEchelon($event)"  placeholder="Echelon" [matAutocomplete]="echelons"
                  />
                  <mat-autocomplete #echelons>
                    <mat-option *ngFor="let echelon of suggestEchelonList" [value]="echelon.Fr_Libelle" (click)="onSelectEchelon(echelon)">{{ echelon.Fr_Libelle }}</mat-option>
                  </mat-autocomplete>
                </div>
    
              </div>
    
              <div class="form-group col-lg-3">
                <label for="" class="mt-1 label"
                  >Grade</label
                >
    
                <div class="d-flex align-items-center">
                  <input
                    type="text"
                    class="form-control form-select"
                    formControlName="GRADE" 
                    (input)="onInputGrade($event)"  placeholder="Grade" [matAutocomplete]="grades"
                  />
                  <mat-autocomplete #grades>
                    <mat-option *ngFor="let grade of suggestGradeList" [value]="grade.Fr_Libelle" (click)="onSelectGrade(grade)">{{ grade.Fr_Libelle }}</mat-option>
                  </mat-autocomplete>
                </div>
    
              </div>
        
            </div>
            <div class="d-lg-flex justify-content-between">
              <h2>Filtre avancé</h2>
              <div *ngIf="!isLoadingPrint;else loading" class="mt-1">
                <button mat-raised-button color="primary" [disabled]="!isAnyFieldFilled()" class="m-auto text-white  bg-table-color" type="button" (click)="onSubmitForm()"> <i class="fa fa-search text-light" aria-hidden="true"></i> Afficher le résultat du filtre</button>
              </div>
              <div class="mt-1">
                <button mat-raised-button color="primary"   class="m-auto  bg-table-color" type="button" (click)="onPrintAgent()"><i class="fa-solid fa-print"></i> Imprimer la liste des agents</button>
              </div>
          </div>
        </form>
    </div>
    
    <ng-template #loading>
      <app-loader></app-loader>
    </ng-template>
    