<app-gabarit-parent>
  <div class="container-fuild m-1" *ngIf="!isloadingEmploiDuTemps; else loader">
    <div class="row">
        <h2 class="bg-light p-2 rounded rounded-5">Emploi du temps de l'élève <span class="text-danger">{{eleve.NomPrenom}}</span> classe de : <span class="text-danger">{{eleve.Classe}}</span></h2>
    </div>
    <div class="row bg-light pb-3 mb-3 rounded rounded-5  ">
      <ng-container *ngFor="let indice of indiceJours; let i = index">
        <div class="col-lg-4 ">
          <div class="border  rounded rounded-5 p-3 mt-3">
            <div class="">
              <h2 class="text-danger text-start fw-bold">{{ indice.name }}</h2>
            </div>
            <div
              class="row mt-2"
              *ngFor="let item of filterByIndiceJour(indice.id); let j = index"
            >
              <div class="col-4 p-1">
                <span class="fw-bold" style="color: RGB(250 141 0)">
                  {{ getSeanceByIndice(item.IndSeance)?.HeureSeance ?? "" }}
                  {{
                    visitor == "enseignant" ? " : " + item.CodeClasse : ""
                  }}</span
                >
              </div>
              <div class="col-3 p-0">
                <span class="fw-bold">{{ item.CodeMatiere }}</span>
              </div>
              <div class="col-5 p-0">
                {{ item.NomEnseignant }}
              </div>
            </div>
          </div>
        </div>
        <div
          class="w-100"
          *ngIf="(i + 1) % 3 === 0 || i === indiceJours.length - 1"
        ></div>
      </ng-container>
    </div>
  </div>

  <!-- <app-emplois-du-temps
    *ngIf="!isloadingEmploiDuTemps; else loader"
    [seances]="seances"
    [dataSource]="dataSource"
    visitor="eleve"
  ></app-emplois-du-temps> -->
</app-gabarit-parent>

<ng-template #loader>
  <app-loader></app-loader>
  <p class="text-center text-white fw-bold">Chargement de l'emploi du temps</p>
</ng-template>
