<app-gabarit-parent>
  <div class="container-fluid p-5 bg-light">
    <h1 class="mb-3">Liste des élèves ajoutés</h1>
    <div class="row">
      <div class="col-lg-6">
        <div class="d-flex align-items-center">
          <i
            style="position: absolute"
            class="fa-solid fa-map-marked-alt p-3 text-success"
          ></i>
          <input
            type="text"
            (keyup)="applyFilter($event)"
            placeholder="Recherchez un eleve ici..."
            class="form-control shadow text-start px-5 text-uppercase"
          />
        </div>
      </div>
      <div class="col-lg-6 mb-2">
        <button
          style="background-color: #7b4bce"
          class="form-control text-white"
          routerLink="/search-eleve-parent"
        >
          Ajouter un élève
        </button>
      </div>
    </div>
    <div class="mat-elevation-z8" *ngIf="!isLoading;else loader">
      <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="Metricule">
          <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
            Matricule
          </th>
          <td class="pointer" mat-cell *matCellDef="let element">
            {{ element.Metricule }}
          </td>
        </ng-container>

        <ng-container matColumnDef="NomPrenom">
          <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
            Nom et Prénom
          </th>
          <td class="pointer" mat-cell *matCellDef="let element">
            {{ element.NomPrenom }}
          </td>
        </ng-container>

        <ng-container matColumnDef="LieuNaissance">
          <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
            Lieu de naissance
          </th>
          <td class="pointer" mat-cell *matCellDef="let element">
            {{ element.LieuNaissance }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Classe">
          <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
            Classe
          </th>
          <td class="pointer" mat-cell *matCellDef="let element">
            {{ element.Classe }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <th mat-header-cell class="text-end" *matHeaderCellDef>Actions</th>

          <td mat-cell class="text-end" *matCellDef="let element">
            <button
              type="button"
              (click)="deleteEleve(element)"
              style="padding-right: 15px"
              class="btn text-lowercase"
            >
              <i class="fa-solid text-danger fa-trash"></i>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
</app-gabarit-parent>
