<app-gabarit pageTitle="Fiche de l'élève">
  <div
    class="container-fluid bg-light"
    *ngIf="!isLoadingDataStudent; else loader"
  >
    <mat-stepper class="" headerPosition="bottom" class="" #stepper>
      <mat-step [stepControl]="eleveInscritForm" class="">
        <ng-template matStepLabel>Informations générales</ng-template>
        <form [formGroup]="eleveInscritForm" class="w-100">
          <div class="tab-content">
            <div
              class="tab-pane fade show active"
              id="nestedContent1"
              role="tabpanel"
              aria-labelledby="nestedTab1"
            >
              <div class="content mt-3">
                <span class="text-on-border fw-bold text-secondary-cust"
                  >Identités Elève</span
                >
                <div class="row">
                  <div
                    class="col-lg-4 text-center"
                    style="border-right: 1px solid rgb(237, 231, 231)"
                  >
                    <div
                      class="w-75 m-auto mt-4"
                      *ngIf="photo$ | async as photoobj; else loader"
                    >
                      <img
                        class="m-auto"
                        [src]="photoEleve ? photoEleve : photoobj.Photo"
                        style="
                          height: 200px !important;
                          width: 175px !important;
                        "
                        alt="image"
                      />
                    </div>

                    <div class="col-lg-8 m-auto">
                      <label for="validationCustom01" class="form-label mb-2"
                        >Photo de l'eleve</label
                      ><br />
                      <button
                        type="button"
                        (click)="openCropImage()"
                        class="btn btn-primary"
                      >
                        Choisir une photo
                      </button>
                    </div>
                    <div class="mt-4">
                      MATRICULE:
                      <strong class="text-secondary-cust">{{
                        eleveInscritForm.get("CodeEleve")?.value
                      }}</strong>
                    </div>

                    <section>
                      <div class="example-label mt-4">
                        Actions supplémentaires
                      </div>
                      <div class="d-flex justify-content-center flex-wrap">
                        <button
                          class="m-1"
                          [disabled]="dossierIsPrint"
                          (click)="printDoc(typeImpression.DOSSIER_ELEVE)"
                          mat-stroked-button
                        >
                          <app-loader
                            colorText="text-secondary"
                            *ngIf="dossierIsPrint; else dossiertext"
                          ></app-loader>
                          <ng-template #dossiertext
                            >Imprimez le dossier</ng-template
                          >
                        </button>

                        <button
                          class="m-1"
                          [disabled]="carteScolaireIsPrint"
                          (click)="printDoc(typeImpression.CARTE_SCOLAIRE)"
                          mat-stroked-button
                          color="primary"
                        >
                          <app-loader
                            colorText="text-secondary"
                            *ngIf="carteScolaireIsPrint; else cartetext"
                          ></app-loader>
                          <ng-template #cartetext
                            >Imprimez la carte scolaire</ng-template
                          >
                        </button>

                        <button
                          class="m-1"
                          mat-stroked-button
                          color="accent"
                          [routerLink]="'/frais/' + IDEleve"
                        >
                          Frais scolaires
                        </button>
                      </div>
                    </section>
                  </div>
                  <div class="col-lg-8">
                    <div class="row">
                      <div class="col-12">
                        <label for="validationCustom01" class="form-label mt-3"
                          >Classe (<span class="text-danger">*</span>)
                        </label>
                        <div>
                          <input
                            readonly
                            type="text"
                            class="form-control text-uppercase"
                            formControlName="CodeClasse"
                          />
                        </div>
                      </div>

                      <div class="col-lg-4">
                        <label for="validationCustom01" class="form-label mt-3"
                          >Nom (<span class="text-danger">*</span>)
                        </label>
                        <input
                          readonly
                          type="text"
                          class="form-control text-uppercase"
                          formControlName="Fr_Nom"
                        />
                      </div>

                      <div class="col-lg-4 mt-3">
                        <label for="validationCustom01" class="form-label"
                          >Prenom (<span class="text-danger">*</span>)</label
                        >
                        <input
                          readonly
                          type="text"
                          class="form-control text-capitalize"
                          formControlName="Fr_Prenom"
                        />
                      </div>

                      <div class="col-lg-4 mt-3">
                        <label for="validationCustom01" class="form-label"
                          >Sexe (<span class="text-danger">*</span>)</label
                        >
                        <div>
                          <select
                            formControlName="Civilite"
                            class="form-control form-select"
                          >
                            <option disabled>choisir votre civilité</option>
                            <option value="1">M</option>
                            <option value="2">F</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-lg-4 mt-3">
                        <label for="validationCustom01" class="form-label"
                          >Date de Naissance (<span class="text-danger">*</span
                          >)</label
                        >
                        <input
                          type="date"
                          class="form-control"
                          formControlName="DateNaissance"
                        />
                      </div>

                      <div class="col-lg-4 mt-3">
                        <label for="validationCustom01" class="form-label"
                          >Departement de naissance (<span class="text-danger"
                            >*</span
                          >)</label
                        >
                        <div>
                          <input
                            readonly
                            type="text"
                            class="form-control text-capitalize"
                            formControlName="Fr_Departement"
                          />
                        </div>
                      </div>

                      <div class="col-lg-4 mt-3">
                        <label for="validationCustom01" class="form-label"
                          >Lieu de naissance (<span class="text-danger">*</span
                          >)
                        </label>

                        <div>
                          <input
                            readonly
                            type="text"
                            class="form-control text-capitalize"
                            formControlName="Fr_LieuNaissance"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 mt-3">
                        <label for="validationCustom01" class="form-label"
                          >Nationalité (<span class="text-danger">*</span>)
                        </label>

                        <div class="d-flex align-items-center">
                          <input
                            readonly
                            type="text"
                            class="form-control text-capitalize"
                            formControlName="Nationalite"
                          />
                        </div>
                      </div>

                      <div class="col-lg-4 mt-3">
                        <label for="validationCustom01" class="form-label"
                          >Etat sanitaire (<span class="text-danger">*</span>)
                        </label>

                        <div class="d-flex align-items-center">
                          <input
                            readonly
                            type="text"
                            class="form-control text-capitalize"
                            formControlName="EtatSanitaire"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 mt-3">
                        <label for="validationCustom01" class="form-label"
                          >Status
                        </label>

                        <div class="d-flex align-items-center">
                          <input
                            readonly
                            type="text"
                            class="form-control text-capitalize"
                            formControlName="Statut"
                          />
                        </div>
                      </div>

                      <div class="col-lg-4 mt-3">
                        <label for="validationCustom01" class="form-label"
                          >Nouveau/Ancien (<span class="text-danger">*</span>)
                        </label>

                        <input
                          readonly
                          type="text"
                          class="form-control text-capitalize"
                          formControlName="NouveauDansAnneeCourante"
                        />
                      </div>
                      <div class="col-lg-4 mt-3">
                        <label for="validationCustom01" class="form-label"
                          >Redoublant/Non Redoublant (<span class="text-danger"
                            >*</span
                          >)
                        </label>
                        <input
                          readonly
                          type="text"
                          class="form-control text-capitalize"
                          formControlName="Redoublant"
                        />
                      </div>

                      <div class="col-lg-4 mt-3">
                        <label for="validationCustom01" class="form-label"
                          >Identifiant Scolaire unique
                        </label>

                        <input
                          readonly
                          type="text"
                          class="form-control"
                          formControlName="IdentifiantNational"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-5">
                <div class="col-lg-6">
                  <div class="content">
                    <span class="text-on-border fw-bold text-secondary-cust"
                      >Langues Vivantes</span
                    >

                    <div>
                      <div class="col-lg-12 pt-3">
                        <label for="validationCustom01" class="form-label"
                          >Première langue
                        </label>

                        <div class="d-flex align-items-center">
                          <div class="input-group">
                            <input
                              type="text"
                              readonly
                              class="form-control text-capitalize"
                              formControlName="LangueVivante1"
      
                            />
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-12 pt-3">
                        <label for="validationCustom01" class="form-label"
                          >Deuxième langue
                        </label>
                        <div class="d-flex align-items-center">
                          <div class="input-group">
                            <input
                              type="text"
                              readonly
                              class="form-control text-capitalize"
                              formControlName="LangueVivante2"
                            />
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-12 pt-3">
                        <label for="validationCustom01" class="form-label"
                          >Troisième langue
                        </label>
                        <div class="d-flex align-items-center">
                          <div class="input-group">
                            <input
                              type="text"
                              readonly
                              class="form-control text-capitalize"
                              formControlName="LangueVivante2"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="content">
                    <span class="text-on-border fw-bold text-secondary-cust"
                      >Localisation</span
                    >

                    <div class="col-lg-12">
                      <label for="validationCustom01" class="form-label mt-3"
                        >Departement de résidence
                      </label>
                      <div>
                        <input
                          readonly
                          type="text"
                          class="form-control text-capitalize"
                          formControlName="DepartementResidence"
                        />
                      </div>
                    </div>

                    <div class="col-lg-12">
                      <label for="validationCustom01" class="form-label mt-3"
                        >Arrondissement
                      </label>
                      <input
                        readonly
                        type="text"
                        class="form-control form-select"
                        formControlName="Fr_Arrondissement"
                      />
                    </div>

                    <div class="col-lg-12">
                      <label for="validationCustom01" class="form-label mt-3"
                        >Ville
                      </label>
                      <input
                        readonly
                        type="text"
                        class="form-control form-select"
                        formControlName="Fr_Ville"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-5">
                <div class="col-lg-6">
                  <div class="content mt-3">
                    <span class="text-on-border fw-bold text-secondary-cust"
                      >Identifications</span
                    >

                    <div class="col-lg-12">
                      <label for="validationCustom01" class="form-label mt-3"
                        >Email
                      </label>
                      <input
                        readonly
                        type="text"
                        class="form-control"
                        formControlName="Courriel"
                      />
                    </div>

                    <div class="col-lg-12">
                      <label for="validationCustom01" class="form-label mt-3"
                        >Mobile
                      </label>
                      <input
                        readonly
                        type="text"
                        class="form-control"
                        formControlName="TelMobile"
                      />
                    </div>

                    <div class="col-lg-12">
                      <label for="validationCustom01" class="form-label mt-3"
                        >Numéro CNI
                      </label>
                      <input
                        readonly
                        type="text"
                        class="form-control"
                        formControlName="NumCNI"
                      />
                    </div>

                    <div class="col-lg-12">
                      <label for="validationCustom01" class="form-label mt-3"
                        >ID carte (badge)
                      </label>
                      <input
                        readonly
                        type="text"
                        class="form-control"
                        formControlName="IdentifiantBadge"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="content mt-3">
                    <span class="text-on-border fw-bold text-secondary-cust"
                      >Autres parametres</span
                    >

                    <div class="col-lg-12 mt-3">
                      <label for="validationCustom01" class="form-label"
                        >Cycle
                      </label>

                      <div class="d-flex align-items-center">
                        <input
                          readonly
                          type="text"
                          class="form-control"
                          formControlName="Cycle"
                        />
                      </div>
                    </div>

                    <div class="col-lg-12 mt-3">
                      <label for="validationCustom01" class="form-label"
                        >Site d'affectation
                      </label>
                      <div class="d-flex align-items-center">
                        <div class="input-group mb-3">
                          <input
                            readonly
                            type="text"
                            class="form-control"
                            formControlName="Site"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-12">
                      <label for="validationCustom01" class="form-label"
                        >Etablissement d'origine
                      </label>

                      <div class="border">
                        <input
                          readonly
                          type="text"
                          class="form-control"
                          formControlName="EtablissementOrigine"
                        />
                      </div>
                    </div>

                    <div class="col-lg-12 mt-3">
                      <label for="validationCustom01" class="form-label"
                        >Année BEPC
                      </label>
                      <input
                        readonly
                        type="date"
                        class="form-control"
                        formControlName="BEPC_Annee"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-5">
                <div class="col-lg-6">
                  <div class="content mt-3">
                    <span class="text-on-border fw-bold text-secondary-cust"
                      >Paramètres Divers</span
                    >

                    <div class="row mt-3">
                      <div class="col-lg-4">
                        <div class="form-check m-auto">
                          <input
                            type="checkbox"
                            [disabled]="true"
                            class="form-check-input"
                            formControlName="Boursier"
                            id="flexCheckDefault"
                          />
                          <label class="form-check-label"> Boursier </label>
                        </div>
                      </div>

                      <div class="col-lg-4">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            readonly
                            [disabled]="true"
                            type="checkbox"
                            formControlName="ExempteDuSport"
                            id="flexCheckDefault"
                          />
                          <label class="form-check-label">
                            Exempte Du Sport
                          </label>
                        </div>
                      </div>

                      <div class="col-lg-4">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            readonly
                            [disabled]="true"
                            type="checkbox"
                            value=""
                            id="flexCheckDefault"
                            formControlName="bPleinTemps"
                          />
                          <label class="form-check-label"> Plein Temps </label>
                        </div>
                      </div>

                      <div class="col-lg-4">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            readonly
                            [disabled]="true"
                            type="checkbox"
                            value=""
                            id="flexCheckDefault"
                            formControlName="bMarie"
                          />
                          <label class="form-check-label"> Marie </label>
                        </div>
                      </div>

                      <div class="col-lg-4">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            readonly
                            [disabled]="true"
                            type="checkbox"
                            formControlName="Travailleur"
                            id="flexCheckDefault"
                          />
                          <label class="form-check-label"> Travailleur </label>
                        </div>
                      </div>

                      <div class="col-lg-4">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            readonly
                            [disabled]="true"
                            type="checkbox"
                            id="flexCheckDefault"
                            formControlName="ParentsDivorces"
                          />
                          <label class="form-check-label">
                            Parents Divorces
                          </label>
                        </div>
                      </div>

                      <div class="col-lg-4">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            formControlName="FraisInscriptionPayes"
                            id="flexCheckDefault"
                          />
                          <label class="form-check-label">
                            Frais Inscription Payes
                          </label>
                        </div>
                      </div>
                      <!-- 
                      <div class="col-lg-4">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            readonly
                            [disabled]="true"
                            type="checkbox"
                            value=""
                            id="flexCheckDefault"
                          />
                          <label class="form-check-label">
                            Frais Inscription Payes
                          </label>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div
                    class="content mt-3"
                  >
                    <span class="text-on-border fw-bold text-secondary-cust"
                      >Par défaut . Envoyer les sms Alerte parents (<span
                        class="text-danger"
                        >*</span
                      >)
                    </span>

                    <div class="row mt-3">
                      <div class="col-lg-12">
                        <div class="form-check m-auto">
                          <input
                            class="form-check-input"
                            readonly
                            [disabled]="true"
                            type="radio"
                            formControlName="SMS_ParentParDefaut"
                            [value]="1"
                            [checked]="
                              eleveInscritForm.get('SMS_ParentParDefaut')
                                ?.value == '1'
                            "
                            id="flexCheckDefault"
                          />
                          <label class="form-check-label"> Au père </label>
                        </div>
                      </div>

                      <div class="col-lg-6">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            readonly
                            [disabled]="true"
                            type="radio"
                            formControlName="SMS_ParentParDefaut"
                            [checked]="
                              eleveInscritForm.get('SMS_ParentParDefaut')
                                ?.value == '2'
                            "
                            [value]="2"
                            id="flexCheckDefault"
                          />
                          <label class="form-check-label"> A la mère </label>
                        </div>
                      </div>

                      <div class="col-lg-6">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            readonly
                            [disabled]="true"
                            type="radio"
                            formControlName="SMS_ParentParDefaut"
                            [value]="3"
                            [checked]="
                              eleveInscritForm.get('SMS_ParentParDefaut')
                                ?.value == '3'
                            "
                            id="flexCheckDefault"
                          />
                          <label class="form-check-label"> Au tuteur </label>
                        </div>
                      </div>

                      <div class="col-lg-6">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            readonly
                            [disabled]="true"
                            type="radio"
                            formControlName="SMS_ParentParDefaut"
                            [checked]="
                              eleveInscritForm.get('SMS_ParentParDefaut')
                                ?.value == '4'
                            "
                            [value]="4"
                            id="flexCheckDefault"
                          />
                          <label class="form-check-label"> A l'élève </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="nestedContent2"
              role="tabpanel"
              aria-labelledby="nestedTab2"
            >
              <app-reduction-exoneration
                [IDELEVE]="IDEleve"
              ></app-reduction-exoneration>
            </div>
          </div>
        </form>
        <div class="d-flex justify-content-end">
          <button mat-button matStepperNext>
            <i class="fa-solid fa-angle-double-right text-secondary-cust"></i>
            <span class="text-secondary-cust">Suivant</span>
          </button>
        </div>
      </mat-step>

      <mat-step [stepControl]="eleveInscritForm">
        <ng-template matStepLabel>Informations supplémentaires</ng-template>
        <form [formGroup]="eleveInscritForm">
          <div class="row mt-3">
            <div class="col-lg-3">
              <label for="validationCustom01" class="form-label"
                >Nom Prénom du Tuteur (<span class="text-danger">*</span>)</label
              >
              <input
                readonly
                type="text"
                class="form-control text-capitalize"
                formControlName="Fr_NomPrenomTuteur"

              />
            </div>

            <div class="col-lg-3">
              <label for="validationCustom01" class="form-label"
                >Profession du Tuteur</label
              >
              <div>
                <input
                  readonly
                  type="text"
                  class="form-control text-capitalize"
                  formControlName="ProfessionTuteur"
                />
              </div>
            </div>

            <div class="col-lg-3">
              <label for="validationCustom01" class="form-label"
                >Email du Tuteur</label
              >
              <input
                readonly
                type="text"
                class="form-control"
                formControlName="EmailTuteur"
              />
            </div>

            <div class="col-lg-3">
              <label for="validationCustom01" class="form-label"
                >Téléphone du Tuteur</label
              >
              <input
                readonly
                type="text"
                class="form-control"
                formControlName="TelMobileTuteur"
              />
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-lg-3">
              <label for="validationCustom01" class="form-label"
                >Nom et Prénom du père
              </label>
              <input
                readonly
                type="text"
                class="form-control text-capitalize"
                formControlName="Fr_NomPrenomPere"
              />
            </div>

            <div class="col-lg-3">
              <label for="validationCustom01" class="form-label"
                >Profession du père</label
              >
              <div>
                <input
                  readonly
                  type="text"
                  class="form-control text-capitalize"
                  formControlName="ProfessionPere"
                />
              </div>
            </div>

            <div class="col-lg-3">
              <label for="validationCustom01" class="form-label"
                >Email du père</label
              >
              <input
                readonly
                type="text"
                class="form-control"
                formControlName="EmailPere"
              />
            </div>

            <div class="col-lg-3">
              <label for="validationCustom01" class="form-label"
                >Téléphone du père</label
              >
              <input
                readonly
                type="text"
                class="form-control"
                formControlName="TelMobilePere"
              />
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-lg-3">
              <label for="validationCustom01" class="form-label"
                >Nom et Prenom de la mère</label
              >
              <input
                readonly
                type="text"
                class="form-control text-capitalize"
                formControlName="Fr_NomPrenomMere"
              />
            </div>

            <div class="col-lg-3">
              <label for="validationCustom01" class="form-label"
                >Profession de la mère
              </label>
              <div>
                <input
                  readonly
                  type="text"
                  class="form-control text-capitalize"
                  formControlName="ProfessionMere"
                />
              </div>
            </div>

            <div class="col-lg-3">
              <label for="validationCustom01" class="form-label"
                >Email de la mère</label
              >
              <input
                readonly
                type="text"
                class="form-control"
                formControlName="EmailMere"
              />
            </div>

            <div class="col-lg-3">
              <label for="validationCustom01" class="form-label"
                >Téléphone de la mère</label
              >
              <input
                readonly
                type="text"
                class="form-control"
                formControlName="TelMobileMere"
              />
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-lg-3">
              <label for="validationCustom01" class="form-label"
                >Nombre des Frères</label
              >
              <input
                readonly
                type="number"
                class="form-control"
                formControlName="NombreFreres"
              />
            </div>

            <div class="col-lg-3">
              <label for="validationCustom01" class="form-label"
                >Nombre des soeurs</label
              >
              <input
                readonly
                type="number"
                class="form-control"
                formControlName="NombreSoeurs"
              />
            </div>

            <div class="col-lg-3">
              <label for="validationCustom01" class="form-label"
                >Situation Sociale
              </label>
              <input
                readonly
                type="text"
                class="form-control form-select"
                disabled
              />
            </div>
            <div class="col-lg-3">
              <div class="">
                <label for="validationCustom01" class="form-label"
                  >Adresse (<span class="text-danger">*</span>)
                </label>
                <input
                  readonly
                  type="text"
                  class="form-control"
                  formControlName="Fr_Adresse1"
                />
              </div>
            </div>
          </div>
        </form>
        <div class="d-flex justify-content-end">
          <button mat-button matStepperPrevious>
            <span class="text-secondary-cust">Précédant</span>
            <i class="fa-solid fa-angle-double-left text-secondary-cust"></i>
          </button>
          <button mat-button matStepperNext>
            <i class="fa-solid fa-angle-double-right text-secondary-cust"></i>
            <span class="text-secondary-cust">Suivant</span>
          </button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Informations comptables</ng-template>

        <!-- <app-reduction-exoneration
            [IDELEVE]="IDEleve"
          ></app-reduction-exoneration> -->
        <div class="d-flex justify-content-end">
          <button mat-button matStepperPrevious>
            <i class="fa-solid fa-angle-double-left text-secondary-cust"></i>
            <span class="text-secondary-cust">Précédant</span>
          </button>
        </div>
        <div>
          <div class="container-fuild m-3">
            <div
              class="p-3 shadow rounded rounded-5"
              style="background-color: rgb(211, 210, 210)"
            >
              <div *ngIf="infoEleve">
                <div class="row">
                  <div class="col-lg-12">
                    <p class="fw-bold blockinfoEleve mrgblockinfoEleve">
                      <span>Historique de paiement de l'élève : </span>
                      <span class="text-danger">{{ infoEleve.Nom }}</span>
                      <span class="text-danger">{{ infoEleve.Prenom }}</span>
                    </p>

                    <p class="fw-bold blockinfoEleve mrgblockinfoEleve">
                      <span>Matricule : </span>
                      <span class="text-danger">{{ infoEleve.Matricule }}</span>
                    </p>

                    <p class="fw-bold blockinfoEleve mrgblockinfoEleve">
                      <span>Total à payer : </span>
                      <span class="text-danger">{{
                        GlobalService.formatPrix(infoEleve.Total_A_Payer)
                      }}</span>
                    </p>

                    <p class="fw-bold blockinfoEleve mrgblockinfoEleve">
                      <span>Total dèjà Payé : </span>
                      <span class="text-danger">{{
                        GlobalService.formatPrix(infoEleve.Total_Deja_Paye)
                      }}</span>
                    </p>
                    <p class="fw-bold blockinfoEleve mrgblockinfoEleve">
                      <span>Reste à payer : </span>
                      <span class="text-danger">{{
                        GlobalService.formatPrix(infoEleve.Reste_A_Payer)
                      }}</span>
                    </p>
                    <p class="fw-bold blockinfoEleve mrgblockinfoEleve">
                      <span>Total impayé : </span>
                      <span class="text-danger">{{
                        GlobalService.formatPrix(infoEleve.Total_Impaye)
                      }}</span>
                    </p>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 mt-1">
                      <button
                        (click)="ViewHistoriquePaiement()"
                        class="bg-table-color text-white form-control"
                      >
                        Voir l'historique de paiement
                        <i class="fa-solid fa-eye"></i>
                      </button>
                    </div>
                    <div class="col-lg-8">
                      <button
                        class="form-control bg-table-color text-white"
                        (click)="OpenPaiement()"
                      >
                        Gestion des frais Scolaire
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-step>
    </mat-stepper>
    <div class="pb-5">
      <div class="mx-4 my-3">
        <button
          class="btn-custom btn w-100"
          (click)="onSubmitForm()"
        >
          <i class="fa-solid fa-check text-light"></i>
          Modifier
        </button>
      </div>
    </div>
  </div>
</app-gabarit>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
