<app-gabarit [pageTitle]="title">
    <div class="container-fluid">
          <div class="row mb-5">
            <div class="col-12 col-lg-4 col-md-6" *ngFor="let menu of menus" >
              <div class="info-box" [routerLink]="'/' + menu.link" [ngStyle]="{cursor: !menu.right ? 'not-allowed' : 'cursor'}">
                <div [ngClass]="{'not-ready': !menu.right}"></div>
                <span class="info-box-icon" [style]="{ 'background-color': menu.backColor }">
                  <img [src]="'../../assets/logo/' + menu.logo" alt="">
                </span>
                <div class="info-box-content d-flex justify-content-start align-items-center">
                    <div>
                      <h2 class="mb-0 pt-3">{{ menu.desination }}</h2>
                      <span>{{ menu.description }}</span>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="container-fluid">
      <div class="row border shadow rounded py-5 bg-light" style="margin-inline: 0.05em;">
        <div class="col-md-6">
          <canvas #chartCanvas1></canvas>
        </div>
        <div class="col-md-6">
          <canvas #chartCanvas2></canvas>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-6"></div>
      </div>
    </div>
</app-gabarit>
