<app-gabarit>

  <h2 class="my-3">Sous-menu </h2>
  <div class="row">
    <div class="col-lg-6">
      <div class="row mb-5">
        <div class="col-12" *ngFor="let menu of menus">
          <div class="info-box" [routerLink]="'/' + menu.link">
            <span class="info-box-icon" [style]="{ 'background-color': menu.backColor }">
              <img [src]="'../../assets/logo/' + menu.logo" alt="">
            </span>
            <div class="info-box-content d-flex justify-content-start align-items-center">
                <div>
                  <h2 class="mb-0 pt-3">{{ menu.desination }}</h2>
                  <span>{{ menu.description }}</span>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
        <blockquote>
          <div>
            <h2 class="text-light">Bienvenue sur notre plateforme d'inscription en ligne !</h2>
            <p>
              Notre page d'inscription en ligne offre une solution pratique pour vous inscrire, vous réinscrire ou consulter les inscriptions de manière simple et efficace. Que vous soyez un nouvel utilisateur souhaitant vous inscrire pour la première fois, un utilisateur existant cherchant à renouveler votre inscription ou simplement quelqu'un qui souhaite consulter les inscriptions déjà effectuées, notre plateforme est là pour vous accompagner.
            </p>

            <p>
              Pour les nouveaux utilisateurs, il vous suffit de remplir le formulaire d'inscription en fournissant les informations demandées. Nous avons veillé à rendre ce processus aussi convivial que possible, en vous guidant étape par étape tout au long du formulaire. Vous serez invité à fournir des détails tels que votre nom, prénom, adresse, adresse e-mail, etc. Une fois le formulaire rempli, vous pourrez soumettre votre inscription en un simple clic.
            </p>
          </div>
          <i>Cybermatic-group</i></blockquote>
    </div>
  </div>
</app-gabarit>
