<app-gabarit pageTitle="Saisie des absences">
  <div class="bg-light">
    <div class="container-fuild bg-light">
        <div class="row p-2">
          <div class="col-lg-4">
            <app-classe-list maxHeight="20em" (classeEmitted)="onEmitClass($event)"></app-classe-list>
          </div>
          <div class="col-lg-8">
            <div class="">
              <label for="" class="text-center">Recherche un élève ici</label>
              <div class="d-flex align-items-center">
                <input
                  type="text"
                  (keyup)="applyFilterEleve($event)"
                  placeholder="Recherchez par ici..."
                  class="form-control text-start text-uppercase"
                />
              </div>
            </div>
            <div class="">
              <div class="mat-elevation-z8" *ngIf="dataSourceElevesByClass">
                <div style="max-height: 15em; overflow-y: auto">
                  <table
                    mat-table
                    [dataSource]="dataSourceElevesByClass"
                    *ngIf="!isLoadingeleveByclass; else loader"
                  >
                    <!-- Position Column -->

                    <ng-container matColumnDef="CodeEleve">
                      <th mat-header-cell *matHeaderCellDef>Matricule</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.CodeEleve }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Fr_Nom">
                      <th mat-header-cell *matHeaderCellDef>Nom</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.Fr_Nom }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Fr_Prenom">
                      <th mat-header-cell *matHeaderCellDef>Prenom</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.Fr_Prenom }}
                      </td>
                    </ng-container>

                    <!--ng-container-- matColumnDef="IDCLASSES">
                      <th mat-header-cell *matHeaderCellDef>Classes</th>
                      <td mat-cell *matCellDef="let element">
                        {{ getClasse(element.IDCLASSES) }}
                      </td>
                    </!--ng-container-->

                    <ng-container matColumnDef="cocher">
                      <th mat-header-cell *matHeaderCellDef>Cocher</th>
                      <td mat-cell *matCellDef="let element">
                        <div class="form-check" style="margin-left: 10px">
                          <input
                          class="form-check-input"
                          style="padding: 10px"
                          (change)="SelectedEleve(element)"
                          type="radio"
                          [checked]="element.IDELEVE == IDELEVE"
                          name="flexRadioDefault2"
                          id="flexRadioDefault2"
                        />
                        </div>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: displayedColumns2"
                      style="cursor: pointer"
                    ></tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fuild bg-light">
        <div class="row px-3">
            <div class="col-lg-4 bg-light ">
                <div class="row">
                    <div class="col-lg-3">
                        <p class="pt-2">Date:</p>
                    </div>
                    <div class="col-lg-9  p-0">
                        <input class="form-control" (change)="onChangeDate($event)" [(ngModel)]="selectedDate" type="date">
                    </div>
                </div>
            </div>
            <div class="col-lg-8" *ngIf=" selectedDate && IDELEVE">
              <div class="d-flex justify-content-between flex-wrap flex-wrap">
                <div class="example-button-row">
                  <button mat-stroked-button color="primary" [disabled]="absenceSaveSubmit || absenceDeleteSubmit" (click)="onValidAbsence()" class="mx-1"> <app-loader *ngIf="absenceSaveSubmit"></app-loader>  Ajouter</button>

                  <button mat-stroked-button color="accent" [disabled]="absenceSaveSubmit || absenceDeleteSubmit" (click)="onRemoveAbsence()"><app-loader *ngIf="absenceDeleteSubmit"></app-loader> Supprimer</button>
                </div>
                <div class="col d-flex align-items-center mx-1">
                  <div class="row w-100 text-light pt-3">
                    <div class="col-md-3 bg-dark"> <i class="fa-solid fa-square " style="color: #99ff99"></i>  A.J</div>
                    <div class="col-md-3 bg-dark"> <i class="fa-solid fa-square " style="color: #ff9897"></i>  A.N.J</div>
                    <div class="col-md-3 bg-dark"> <i class="fa-solid fa-square " style="color: #fdff99"></i>  R.J</div>
                    <div class="col-md-3 bg-dark"> <i class="fa-solid fa-square " style="color: #ffa600"></i>  R.N.J</div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col p-2">
          <app-table-emploi-du-temps (absenceEmitted)="onEmitAbsence($event)" [absences$]="absences$" [dataEmploiDuTemps$]="dataEmploiDuTemps$" (emploisEmit)="onEmitEmploi($event)"></app-table-emploi-du-temps>
        </div>
      </div>

      <div class="col">
        <div class="row p-3 text-light">
          <h2>Légende</h2>
          <div class="col-md-3 bg-dark"> <i class="fa-solid fa-square " *ngFor="let item of [1,2]" style="color: #99ff99"></i>  Absence justifiée</div>
          <div class="col-md-3 bg-dark"> <i class="fa-solid fa-square " *ngFor="let item of [1,2]" style="color: #ff9897"></i>  Absence non justifiée</div>
          <div class="col-md-3 bg-dark"> <i class="fa-solid fa-square " *ngFor="let item of [1,2]" style="color: #fdff99"></i>  Retard justifié</div>
          <div class="col-md-3 bg-dark"> <i class="fa-solid fa-square " *ngFor="let item of [1,2]" style="color: #ffa600"></i>  Retard non justifié</div>
        </div>
      </div>
 </div>
  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
</app-gabarit>
