
$primary-color:#7b4bce;
$secondary-color: #8cbec6;

table {
  width: 100%;
}
.mat-elevation-z8 tr, .mat-elevation-z8 mat-header-cell {
  height: 2em;
}
.mat-elevation-z8 th, .mat-elevation-z8 mat-header-cell {
  background-color: $primary-color;
  color: white;
} 

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
  //lignes
  tr:nth-child(even) {
    background-color: rgb(219, 209, 209);
}

mat-paginator{
  background-color: $primary-color;
}

.md-dialog {
  opacity: 0;
}

.tr > :hover{
  background-color:rgb(146, 133, 123);
  cursor: pointer;
  color: white;
}

 .mat-stepper-horizontal {
   margin-top: 8px;
 }

 .mat-mdc-form-field {
   margin-top: 16px;
 }

.steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
}
.step-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: rgb(113,113,113);
  color: white;
  transition: .4s;
}
.step-button[aria-expanded="true"] {
  width: 60px;
  height: 60px;
  background-color: rgb(113,113,113);
  color: #fff;
}
.done {
  background-color: rgb(113,113,113);
  color: #fff;
}
.step-item {
  z-index: 10;
  text-align: center;
}
#progress {
-webkit-appearance:none;
  position: absolute;
  width: 95%;
  z-index: 5;
  height: 10px;
  margin-left: 25px;
  margin-bottom: 18px;
}
/* to customize progress bar */
#progress::-webkit-progress-value {
  background-color: rgb(113,113,113);
  transition: .5s ease;
}
#progress::-webkit-progress-bar {
  background-color: rgb(113,113,113);

}
.bg-color{
  background-color:rgb(179, 119, 40);
  color: white;
  cursor: pointer;
}
