<app-gabarit pageTitle="Présences des agents">
  <div class="container-fluid bg-light p-md-2 py-4">
    <div class="row ">
      <div class="col-md-9">
        <app-select-date
          [intervalDays]="30"
          (dateBeginEmit)="onEmitDate($event, 'begin')"
          (dateEndEmit)="onEmitDate($event, 'end')"
        >
        </app-select-date>
      </div>

      <div class="col-md-3">
        <div class="row">
          <div class="col">
            <button
              (click)="onSubmit()"
              class="btn text-white form-control bg-table-color"
            >
              Tout afficher
            </button>
          </div>

          <div class="col">
            <button
              (click)="onSlectedAll()"
              [disabled]="true"
              class="btn text-white form-control bg-table-color"
            >
              Tout sélectionner
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-4 pt-4">
        <app-select-agent (agentSelectedEmitted)="onSelect($event)" [isAllSelected]="isAllSelected" maxHeight="450px"></app-select-agent>
      </div>

      <div class="col-lg-8 pt-5">
        <app-table-pointage-result maxHeight="450px" [presences$]="presences$"></app-table-pointage-result>

        <div class="col">
            <button
              (click)="onPrint()"
              class="btn text-white form-control bg-table-color"
              *ngIf="!printIsLoading; else loader"
            >
              Imprimer
            </button>
          </div>
      </div>

    </div>
  </div>
</app-gabarit>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

