<app-gabarit>
  <div class="container-fuild bg-light p-3 mb-5">
    <h1 class="card-title border bg-light text-center">Liste des mouvements</h1>
    <div class="row">
      <div class="col-lg-4">
        <label for="" class="text-center mx-1"
          >Saisir le numéro du mouvement</label
        >
        <div class="row">
          <div class="col-lg-4">
            <input
              type="number"
              class="form-control"
              [(ngModel)]="numeroMouvement"
            />
          </div>
          <div class="col-lg-4">
            <button
              class="form-control text-white bg-table-color"
              (click)="valider()"
            >
              Valider <i class="fa-solid fa-arrows-rotate"></i>
            </button>
          </div>
          <div class="col-lg-4">
            <button
              class="form-control text-white bg-table-color"
              (click)="reloadpage()"
            >
              Actualiser <i class="fa-solid fa-rotate-right"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <label for="" class="text-center mx-1">Recherchez un mouvement</label>
        <div class="d-flex align-items-center">
          <i
            style="position: absolute"
            class="fa-solid fa-map-marked-alt p-3 text-success"
          ></i>
          <input
            type="text"
            (keyup)="applyFilter($event)"
            placeholder="Recherchez par ici..."
            class="form-control text-start px-5 text-uppercase"
          />
        </div>
      </div>

      <div class="col-lg-4" style="margin-top: 28px">
        <p class="shadow fs-6 rounded p-2 text-center bg-danger text-white">
          Message ! : Cliquez sur une ligne pour selectionner un mouvement à
          annuler
        </p>
      </div>
    </div>
    <div class="mat-elevation-z8" style="max-height: 400px; overflow-y: auto">
      <table
        mat-table
        [dataSource]="dataSource1"
        *ngIf="!isLoadingListe; else loader"
      >
        <!-- Position Column -->

        <ng-container matColumnDef="IDMOUVEMENT">
          <th class="bg-color-primary bg-table-color" mat-header-cell *matHeaderCellDef>
            ID MOUVEMENT
          </th>
          <td class="pointer" mat-cell *matCellDef="let element"
          (click)="onClickLine(element)"
          [ngClass]="{
            'bg-color': mouvementSelected == element,
            cursor: mouvementSelected
          }">
            {{ element.IDMOUVEMENT }}
          </td>
        </ng-container>

        <ng-container matColumnDef="DateHeure">
          <th class="bg-color-primary bg-table-color" mat-header-cell *matHeaderCellDef>
            Date
          </th>
          <td
            class="pointer"
            mat-cell
            *matCellDef="let element"
            (click)="onClickLine(element)"
            [ngClass]="{
              'bg-color': mouvementSelected == element,
              cursor: mouvementSelected
            }"
          >
            {{ convertToValideDateH(element.DateHeure) }}
          </td>
        </ng-container>


        <ng-container matColumnDef="IDCAISSE">
          <th class="bg-color-primary bg-table-color" mat-header-cell *matHeaderCellDef>
            CAISSE
          </th>
          <td
            class="pointer"
            mat-cell
            *matCellDef="let element"
            (click)="onClickLine(element)"
            [ngClass]="{
              'bg-color': mouvementSelected == element,
              cursor: mouvementSelected
            }"
          >
            {{ getCaisseLibelle(element.IDCAISSE) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Libelle">
          <th class="bg-color-primary bg-table-color" mat-header-cell *matHeaderCellDef>
            Libelle
          </th>
          <td
            class="pointer"
            mat-cell
            *matCellDef="let element"
            (click)="onClickLine(element)"
            [ngClass]="{
              'bg-color': mouvementSelected == element,
              cursor: mouvementSelected
            }"
          >
            {{ element.Libelle }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
      </table>
    </div>

    <div class="row mt-4">
      <div class="col-lg-8">
        <p class="bg-light p-2">Détails mouvements et détails opérations</p>
        <div class="mat-elevation-z8" style="max-height: 400px; overflow-y: auto">
          <table
            mat-table
            [dataSource]="dataSource2"
            *ngIf="!isLoading; else loader"
          >

         
            <ng-container matColumnDef="LibelleEcriture">
              <th class="bg-color-primary bg-table-color" mat-header-cell *matHeaderCellDef>
                Libelle
              </th>
              <td class="pointer" mat-cell *matCellDef="let element">
                {{ element.LibelleEcriture }}
              </td>
            </ng-container>

            <ng-container matColumnDef="CodeCompte">
              <th class="bg-color-primary bg-table-color" mat-header-cell *matHeaderCellDef>
                Compte
              </th>
              <td class="pointer" mat-cell *matCellDef="let element">
                {{ element.CodeCompte }}
              </td>
            </ng-container>

            <ng-container matColumnDef="MontantDebit">
              <th class="bg-color-primary bg-table-color" mat-header-cell *matHeaderCellDef>
                Montant Debit
              </th>
              <td class="pointer" mat-cell *matCellDef="let element">
                {{ formatPrix(element.MontantDebit) }}
              </td>
            </ng-container>

            <ng-container matColumnDef="MontantCredit">
              <th class="bg-color-primary bg-table-color" mat-header-cell *matHeaderCellDef>
                Montant Credit
              </th>
              <td class="pointer" mat-cell *matCellDef="let element">
                {{ formatPrix(element.MontantCredit) }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
          </table>
        </div>

      </div>
      <div class="col-lg-4 bg-light border">
        <div
        *ngIf="!isloadbtnAnnuleOperation;else loader"
          class="bg-light border col-lg-6 rounded m-auto d-flex mt-4 p-3"
          style="cursor: pointer;"
          (click)="openModal()"
        >
          <div><i class="fa-solid text-danger fs-1 fa-trash"></i></div>
          <div>
            <p class="fs-5" style="padding-left: 10px; text-align: center;">
              Annuler le mouvement selectionné
            </p>
          </div>
        </div>
      </div>
    </div>

    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
</app-gabarit>
