<div class="container-fuild bg-white pt-5 pb-5 text-dark" style="">
  <div class="border mb-5 col-lg-10 m-lg-auto">
    <div class="row mb-3 bg-light">
      <div class="col-lg-6">
        <h1 class="bg-light p-3">
          <i class="fa-solid fa-school" style="padding-right: 10px"></i>
          Confirmation de paiement et Mise en service imminente de votre école
        </h1>
      </div>

      <div class="col-lg-6 text-end">
        <button
          type="button"
          routerLink="/"
          class="btn border mt-2 btn-primary"
          style="font-weight: bold"
        >
          <i
            class="fa-solid fs-5 fa-arrow-left"
            style="padding-right: 10px"
          ></i>
          Retourner à la page d'accueil
        </button>
      </div>
    </div>
    <figure>
      <blockquote class="blockquote">
        <p>Cher(e) utilisateur,</p>
        <p>
          Nous sommes ravis de vous informer que votre paiement a été confirmé
          avec succès ! Votre confiance en notre plateforme est grandement
          appréciée.
        </p>
        <p>
          Nous sommes conscients de l'importance de votre projet éducatif et
          sommes ravis de vous annoncer que la mise en service de votre école
          est en cours. Notre équipe dévouée travaille diligemment pour préparer
          tous les détails et vous offrir une expérience exceptionnelle.
        </p>

        <p>
          Sous peu, dans un délai maximal de 24 heures, votre école sera
          opérationnelle et prête à accueillir vos élèves. Nous tenons à vous
          assurer que nous mettons tout en œuvre pour garantir un processus
          fluide et une transition sans heurts.
        </p>

        <p>
          Si vous avez la moindre question, préoccupation ou requête, n'hésitez
          pas à contacter notre service clientèle dédié chez Cybermatic. Notre
          équipe expérimentée se tient à votre disposition pour répondre à
          toutes vos demandes et vous fournir l'assistance nécessaire.
        </p>

        <p>Cordialement,</p>

        <p>Equipe technique</p>
      </blockquote>
      <figcaption class="blockquote-footer mb-2">
        Cybermatic<cite title="Source Title">group</cite>
      </figcaption>
    </figure>

    <div class="row bg-light p-2 mt-3">
      <p class="fs-2">Nous Contactez !</p>
    </div>
    <div class="row bg-light p-3">
      <div class="col-lg-4 mt-2 text-left">
        <p>
          <span><i class="fa-brands fs-3 text-success fa-whatsapp"></i></span
          ><span class="fs-5" style="padding-left: 10px">
            Whatsapp : +242 06 428 78 37</span
          >
        </p>
      </div>
      <div class="col-lg-4 mt-2 text-left">
        <span><i class="fa-solid fs-3 text-danger fa-envelope"></i></span>
        <span class="fs-5" style="padding-left: 10px"
          >Adresse mail : contact@cybermatic-group.com
        </span>
      </div>
      <div class="col-lg-4 mt-2 text-left">
        <span><i class="fa-solid text-primary fs-3 fa-phone"></i> </span>
        <span class="fs-5" style="padding-left: 10px"
          >Téléphone : +242 06 428 78 37</span
        >
      </div>
    </div>
  </div>
</div>
