<app-gabarit [pageTitle]="reinscription ? 'sélectionner un élève en cliquant sur une ligne puis sur le bouton inscription BAC/BEPC/CEPE' : 'Liste des élèves'">

  <div class="container-fuild mb-5 p-3 pt-1 bg-light">
    <div class="container-fuild d-none d-lg-block mb-5 p-0">
      <mat-tab-group color="accent" backgroundColor="primary">
        <mat-tab class="custom-active-tab" label="Filtrez par niveau et branche">
          <div class="row mt-2">
            <div class="col-lg-6">
              <label for="validationCustom01" class="form-label"
                >Niveau</label
              >
              <input
                class="form-control form-select"
                [matAutocomplete]="niveau"
                (focus)="filteredNiveaux=niveaueList"
                (input)="onInputNiveau($event)"
                #niveauInput
                (click)="niveauInput.value=''"
                placeholder="Rechercher les élèves par niveau ici ..."
              />

              <mat-autocomplete
                #niveau
                (optionSelected)="onSelectionNiveau($event)"
              >
                <mat-option
                  *ngFor="let c of filteredNiveaux"
                  [value]="c.NomNiveau"
                >
                  {{ c.CodeNiveau }}
                  <span class="text-dark"> / </span>
                  {{ c.NomNiveau }}
                </mat-option>

                <mat-option value="Tous les niveaux">Tous les niveaux</mat-option>
              </mat-autocomplete>
            </div>

            <div class="col-lg-6">
              <label for="validationCustom01" class="form-label"
                >Branche</label
              >
              <select
                class="form-select"
                name="IDBRANCHE"
                [(ngModel)]="IDBRANCHE"
                (change)="onSelectionBranche($event)"
                aria-label="Default select example"
              >
                <option disabled value="0" selected>selectionner une branche</option>
                <option
                  *ngFor="let b of brancheList"
                  [value]="b.IDBRANCHE"
                >
                  {{ b.CodeBranche }}
                  <span class="text-dark"> / </span>
                  {{ b.NomBranche }}
                </option>
                <option [value]="0">Toutes les branches</option>
              </select>
            </div>
          </div>
        </mat-tab>

        <mat-tab class="custom-active-tab" label="Filtrez par classe">
          <div class="col-12 mt-2">
            <label for="validationCustom01" class="form-label"
              >Classe</label
            >

            <input
              class="form-control form-select"
              [matAutocomplete]="classe"
              (focus)="filteredClasse=classeList"
              (input)="onInputClasse($event)"
              #classeInput
              (click)="classeInput.value=''"
              placeholder="Rechercher les élèves par classe ici ..."
            />

            <mat-autocomplete
              #classe
              (optionSelected)="onSelectionClasse($event)"
            >
              <mat-option
                *ngFor="let c of filteredClasse"
                [value]="c.NomClasse"
              >
                {{ c.CodeClasse }}
                <span class="text-dark"> / </span>
                {{ c.NomClasse }}
              </mat-option>
              <mat-option value="Toutes les classes">Toutes les classes</mat-option>
            </mat-autocomplete>
          </div>
        </mat-tab>

        <mat-tab class="custom-active-tab" label="Filtre secondaires">
          <div class="row">
            <div class="col-lg-5" style="border-right: 1px solid #f8f9fa">
              <div class="row mt-3">
                <div class="col-lg-6">
                  <div class="content">
                    <span class="text-on-border">Etats affichés</span>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        (change)="onSelectionEtatEleve($event)"
                        name="etat"
                        type="radio"
                        value="1"
                        id="etat1"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        Inscrits
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        (change)="onSelectionEtatEleve($event)"
                        name="etat"
                        type="radio"
                        value="2"
                        id="etat2"
                        checked
                      />
                      <label class="form-check-label" for="flexCheckChecked">
                        En attente d'inscription
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        (change)="onSelectionEtatEleve($event)"
                        name="etat"
                        type="radio"
                        value="3"
                        id="etat3"
                        checked
                      />
                      <label class="form-check-label" for="flexCheckChecked">
                        Radié
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="content">
                    <span class="text-on-border">Sexes affichés</span>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        (change)="onSelectionEtatcivilite($event)"
                        name="g"
                        type="radio"
                        value="1"
                        id="f"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        Masculin
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        (change)="onSelectionEtatcivilite($event)"
                        name="g"
                        type="radio"
                        value="2"
                        id="flexCheckDefault"
                        checked
                      />
                      <label class="form-check-label" for="flexCheckChecked">
                        Feminin
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="content mt-3">
                    <span class="text-on-border">Nouveaux/Anciens</span>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        (change)="onSelectionnouveauAncien($event)"
                        name="n"
                        type="radio"
                        value="true"
                        id=""
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        Nouveaux
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        (change)="onSelectionnouveauAncien($event)"
                        name="n"
                        type="radio"
                        value="false"
                        id="a"
                        checked
                      />
                      <label class="form-check-label" for="flexCheckChecked">
                        Anciens
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="content mt-3">
                    <span class="text-on-border"
                      >Redoublants/Non Redoublants</span
                    >
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        (change)="onSelectionredoublant($event)"
                        name="r"
                        type="radio"
                        value="true"
                        id="r1"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        Redoublants
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        (change)="onSelectionredoublant($event)"
                        name="r"
                        type="radio"
                        value="false"
                        id="r2"
                        checked
                      />
                      <label class="form-check-label" for="flexCheckChecked">
                        Non Redoublants
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6">
                    <div class=" ">
                      <label class="col-form-label" for="inputField"
                        >Status</label
                      >
                      <select
                        class="form-select"
                        name="StatusEleve"
                        [(ngModel)]="StatusEleve"
                        (change)="onSelectionStatus($event)"
                        aria-label="Default select example"
                      >
                        <option disabled>selectionner votre status</option>
                        <option
                          *ngFor="let s of statusEleveList"
                          [value]="s.IDSTATUTELEVE"
                        >
                          {{ s.Fr_Libelle }}
                        </option>
                      </select>
                    </div>
                    <div class=" ">
                      <label class="col-form-label" for="inputField"
                        >Cycle</label
                      >
                      <div class="">
                        <select
                          class="form-select"
                          name="IDCYCLES"
                          [(ngModel)]="IDCYCLES"
                          (change)="onSelectionCycle($event)"
                          aria-label="Default select example"
                        >
                          <option disabled>selectionner un cycle</option>
                          <option
                            *ngFor="let c of cycleList"
                            [value]="c.IDCYCLES"
                          >
                            {{ c.Libelle }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class=" ">
                      <label class="col-form-label" for="inputField"
                        >Site d'affichage</label
                      >
                      <div class="">
                        <select
                          class="form-select"
                          name="IDSITE"
                          [(ngModel)]="IDSITE"
                          (change)="onSelectionSite($event)"
                          aria-label="Default select example"
                        >
                          <option>selectionner un site</option>
                          <option
                            *ngFor="let s of siteList"
                            [value]="s.IDSITE"
                          >
                            {{ s.Libelle }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class=" ">
                      <label class="col-form-label" for="inputField"
                        >Nationalité</label
                      >

                      <div class="">
                        <select
                          class="form-select"
                          name="IDNationalite"
                          [(ngModel)]="IDNationalite"
                          (change)="onSelectionNationalite($event)"
                          aria-label="Default select example"
                        >
                          <option>selectionner une nationalité</option>
                          <option
                            *ngFor="let n of nationaliteList"
                            [value]="n.IDNATIONALITE"
                          >
                            {{ n.Libelle }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class=" ">
                      <label class="col-form-label" for="inputField"
                        >2e Langue</label
                      >
                      <select
                        class="form-select"
                        name="langue"
                        [(ngModel)]="langue"
                        aria-label="Default select example"
                      >
                        <option disabled>selectionner une 2ème langue</option>
                        <option
                          *ngFor="let langue of langueList"
                          [value]="langue.IDLANGUE"
                        >
                          {{ langue.Fr_Libelle }}
                        </option>
                      </select>
                    </div>
                    <div class=" ">
                      <label class="col-form-label" for="inputField"
                        >Etat sanitaire</label
                      >
                      <select
                        class="form-select"
                        name="EtatSanitaire"
                        [(ngModel)]="EtatSanitaire"
                        (change)="onSelectionEtatSanitaire($event)"
                        aria-label="Default select example"
                      >
                        <option disabled>
                          selectionner votre etat de santé
                        </option>
                        <option
                          *ngFor="let sante of etatSanitaireList"
                          [value]="sante.IDETAT_SANITAIRE"
                        >
                          {{ sante.Fr_Libelle }}
                        </option>
                      </select>
                    </div>
                    <div class=" ">
                      <label class="col-form-label" for="inputField"
                        >Centre Examen</label
                      >
                      <select
                        class="form-select"
                        name="IDCENTRE_EXAMEN"
                        [(ngModel)]="IDCENTRE_EXAMEN"
                        (change)="onSelectionCentreExamen($event)"
                        aria-label="Default select example"
                      >
                        <option disabled>
                          selectionner votre centre examen
                        </option>
                        <option
                          *ngFor="let centre of centreExamenList"
                          [value]="centre.IDCENTRE_EXAMEN"
                        >
                          {{ centre.Fr_Nom }}
                        </option>
                      </select>
                    </div>
                    <div class=" ">
                      <label class="col-form-label" for="inputField"
                        >Ecole</label
                      >
                      <div class="">
                        <input
                          type="text"
                          class="form-control form-select"
                          id="inputField"
                          placeholder="<Tous>"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div class="container-fuild">
      <div class="row  mt-2">

        <div class="col-lg-2">
          <input
            class="form-control"
            type="text"
            name="CodeEleve"
            [(ngModel)]="CodeEleve"
            placeholder="Chercher par matricule"
            (input)="applyFilter($event, 'CodeEleve')"
          />
        </div>
        <div class="col-lg-2">
          <input
            class="form-control"
            type="text"
            name="Fr_Nom"
            [(ngModel)]="Fr_Nom"
            placeholder="Chercher par nom"
            (input)="applyFilterNom($event)"
            (change)="onSelectionNom($event)"
          />
        </div>
        <div class="col-lg-2">
          <input
            class="form-control"
            type="text"
            name="Fr_Prenom"
            [(ngModel)]="Fr_Prenom"
            placeholder="Chercher par prenom"
            (input)="applyFilterpreNom($event)"
            (change)="onSelectionprenom($event)"
          />
        </div>
        <div class="col-lg-2">
        <button (click)="reloadList()" class="form-control bg-table-color text-white button">Rafraîchir <i class="fa-solid fa-rotate-right"></i></button>
        </div>
        <div class="col-lg-4">
          <button
            class="text-white bg-table-color form-control button"
            (click)="onAfficherClick()"
          >
            AFFICHER <i class="fa-solid fa-list"></i>
          </button>
        </div>
      </div>

      <div class="row mt-2 mb-2">
        <div class="col-lg-2">
          <button
            style="color: white"
            class="form-control button bg-table-color"
            routerLink="/eleve/menu"
          >
            Inscription <i class="fa-solid fa-floppy-disk"></i>
          </button>
        </div>
        <div class="col-lg-2">
          <button
            style="color: white"
            class="form-control button bg-table-color"
            routerLink="/radiation-eleve"
          >
            Radiation/Reprise <i class="fa-solid fa-graduation-cap"></i>
          </button>
        </div>
        <div class="col-lg-2">
          <button
            style="color: white"
            class="form-control bg-table-color button"
            (click)="imprimer()"
          >
            Imprimer <i class="fa-solid fa-print"></i>
          </button>
        </div>

        <div class="col-lg-2">
          <button
          [disabled]="true"
            class="btn form-control bg-table-color text-white">
            Export <i class="fa-solid fs-5 fa-file-excel"></i>
          </button>
      </div>
        <div class="col-lg-4">
          <button
            style=" color: white"
            class=" bg-table-color form-control button"
          >
            Inscription BAC/BEPC/CEPE <i class="fa-solid fa-floppy-disk"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="mat-elevation-z8" [ngStyle]="contentTableStyle">
      <table
        mat-table
        [dataSource]="dataSource"
        *ngIf="!isLoading; else loader"
      >
        <!-- Position Column -->

        <ng-container matColumnDef="CodeEleve">
          <th class="bg-color-primary bg-table-color" mat-header-cell *matHeaderCellDef>
            Matricule
          </th>
          <td class="pointer" mat-cell *matCellDef="let element">
            {{ element.CodeEleve }}
          </td>
          <td mat-footer-cell *matFooterCellDef class="bg-table-color text-light"> TOTAL </td>
        </ng-container>

        <ng-container matColumnDef="Fr_Nom">
          <th class="bg-color-primary bg-table-color" mat-header-cell *matHeaderCellDef>
            Nom
          </th>
          <td class="pointer" mat-cell *matCellDef="let element">
            {{ element.Fr_Nom }}
          </td>
          <td mat-footer-cell *matFooterCellDef class="bg-table-color"> </td>
        </ng-container>

        <ng-container matColumnDef="Fr_Prenom">
          <th class="bg-color-primary bg-table-color" mat-header-cell *matHeaderCellDef>
            Prenom
          </th>
          <td class="pointer" mat-cell *matCellDef="let element">
            {{ element.Fr_Prenom }}
          </td>
          <td mat-footer-cell *matFooterCellDef class="bg-table-color text-light">
            Elèves: {{ dataSource.data.length }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Civilite">
          <th class="bg-color-primary bg-table-color" mat-header-cell *matHeaderCellDef>
            Sexe
          </th>
          <td class="pointer" mat-cell *matCellDef="let element">
            {{ element.Civilite === 1 ? "M" : "F" }}
          </td>
          <td mat-footer-cell *matFooterCellDef class="bg-table-color"> </td>
        </ng-container>

        <ng-container matColumnDef="DateNaissance">
          <th class="bg-color-primary bg-table-color" mat-header-cell *matHeaderCellDef>
            Date de naissance
          </th>
          <td class="pointer" mat-cell *matCellDef="let element">
            {{ convertToValideDate(element.DateNaissance) }}
          </td>
          <td mat-footer-cell *matFooterCellDef class="bg-table-color"></td>
        </ng-container>

        <ng-container matColumnDef="Fr_LieuNaissance">
          <th class="bg-color-primary bg-table-color" mat-header-cell *matHeaderCellDef>
            Lieu de naissance
          </th>
          <td class="pointer" mat-cell *matCellDef="let element">
            {{ element.Fr_LieuNaissance }}
          </td>
          <td mat-footer-cell *matFooterCellDef class="bg-table-color"> </td>
        </ng-container>

        <ng-container matColumnDef="IDNationalite">
          <th class="bg-color-primary bg-table-color" mat-header-cell *matHeaderCellDef>
            Nationalité
          </th>
          <td class="pointer" mat-cell *matCellDef="let element">
            {{ nationaliteList ? getNationaliteLibelle(element.IDNationalite) : '' }}
          </td>
          <td mat-footer-cell *matFooterCellDef class="bg-table-color"> </td>
        </ng-container>

        <ng-container matColumnDef="CodeClasse">
          <th class="bg-color-primary bg-table-color" mat-header-cell *matHeaderCellDef>
            Classe
          </th>
          <td class="pointer" mat-cell *matCellDef="let element">
            {{ element.CodeClasse }}
          </td>
          <td mat-footer-cell *matFooterCellDef class="bg-table-color"> </td>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <th
           bg-table-color  mat-header-cell
            class="text-end bg-table-color px-5"
            *matHeaderCellDef
          >
            Actions
          </th>

          <td
            mat-cell
            class="text-center"
            *matCellDef="let element"
          >
            <i class="fa fa-eye text-black pointer" (click)="view(element.IDELEVE)" aria-hidden="true"></i>
            <span class="mx-1"></span>
            <i class="fa fa-pencil text-black pointer" *ngIf="agent.bDroit_ModificationEleves"  aria-hidden="true" (click)="edit(element.IDELEVE)"></i>
            <span class="mx-1"></span>
            <i class="fa fa-trash text-danger pointer" (click)="delete(element)" aria-hidden="true"></i>

          </td>
          <td mat-footer-cell *matFooterCellDef class="bg-table-color"></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
      </table>
    </div>

    <ng-template #loader>
     <app-loader></app-loader>
    </ng-template>
  </div>

</app-gabarit>
