<div class="container-fuild p-3">
     
    <div class="row bg-light" >
      <div>
        <app-close-modal></app-close-modal>
      </div>
      <div class="col-lg-12" *ngIf="!issendparameters;else loader">
        <div class="col-12">
          <label for="" class="text-center">Selectionner un enseignant </label>
          <div class="d-flex align-items-center">
            <input
              type="text"
              (keyup)="applyFilterclasse($event)"
              placeholder="Recherchez un enseignant  ici..."
              class="form-control text-start text-uppercase"
            />
          </div>
        </div>
        <div
          class="mat-elevation-z8"
          style="max-height: 300px; overflow-y: auto"
          *ngIf="!isLoading;else loader"
        >
          <table
            mat-table
            [dataSource]="dataSource"
            *ngIf="!isloadingEnseignant; else loader"
          >
            <!-- Position Column -->
            <!-- <ng-container matColumnDef="CodeEnseignant">
              <th
                class="bg-color-primary bg-table-color"
                mat-header-cell
                *matHeaderCellDef
              >
                Code enseignant
              </th>
              <td class="pointer" mat-cell *matCellDef="let element">
                {{ element.CodeEnseignant }}
              </td>
            </ng-container> -->

            <ng-container matColumnDef="Fr_Nom">
              <th
                class="bg-color-primary bg-table-color"
                mat-header-cell
                *matHeaderCellDef
              >
                Nom
              </th>
              <td class="pointer" mat-cell *matCellDef="let element">
                {{ element.Fr_Nom }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Fr_Prenom">
              <th
                class="bg-color-primary bg-table-color"
                mat-header-cell
                *matHeaderCellDef
              >
                Prénom
              </th>
              <td class="pointer" mat-cell *matCellDef="let element">
                {{ element.Fr_Prenom }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Civilite">
              <th
                class="bg-color-primary bg-table-color"
                mat-header-cell
                *matHeaderCellDef
              >
                Sexe
              </th>
              <td class="pointer" mat-cell *matCellDef="let element">
                {{ element.Civilite === 1 ? "M" : "F" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="cocher">
              <th
                class="bg-color-primary bg-table-color"
                mat-header-cell
                *matHeaderCellDef
              >
                cocher
              </th>
              <td class="pointer" mat-cell *matCellDef="let element">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    style="padding: 10px"
                    (click)="checkLineEnseignant(element)"
                    type="radio"
                    name="flexRadioDefaulte"
                    id="flexRadioDefault3"
                  />
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="IDNationalite">
              <th
                class="bg-color-primary bg-table-color"
                mat-header-cell
                *matHeaderCellDef
              >
                Nationalité
              </th>
              <td class="pointer" mat-cell *matCellDef="let element">
                {{ getNationaliteLibelle(element.IDNationalite) }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
        <div>
          <button (click)="valider()" [disabled]="!isFormValid()"
           class="form-control text-white" style="background-color: #7c57ce"
          >Valider</button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
