<app-gabarit>
  <div
    class="m-auto col-lg-12 shadow mb-5 mt-2 p-3 bg-light"
  >
    <div>
      <div class="container-fuild m-auto">
        <div class="col-lg-12 p-3 border" *ngIf="!isLoading; else loader">
          <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-2">
                  <p>Date comptable</p>
                </div>
                <div class="col-lg-7">
                  <input type="date" [(ngModel)]="dateComptable" (change)="onDateSelectedDebut($event)" class="form-control" />
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-lg-2"><p>Caisse</p></div>
                <div class="col-lg-7">
                  <input type="text" disabled class="form-control" [(ngModel)]="CaisseLibelle" />
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="row mt-2">
                <div class="col-6">
                  <div><p class="text-end">Solde ouverture</p></div>
                  <div><p class="text-end">Versements</p></div>
                  <div><p class="text-end">Retraits</p></div>
                  <div><p class="text-end">Solde compte</p></div>
                </div>
                <div class="col-5">
                  <div class="w-100 border bg-white px-2" style="height: auto">
                    <div>
                      <p class="">{{ SoldeOuverture }}</p>
                    </div>
                    <div>
                      <p class="">{{ TotalVersements }}</p>
                    </div>
                    <div>
                      <p class="">{{ TotalRetraits }}</p>
                    </div>
                    <div>
                      <p class="">{{ SoldeFermeture }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-template #loader>
        <app-loader></app-loader>
      </ng-template>
    </div>
    <div class="row bg-light">
      <div class="col-12 bg-white text-center">
        <p
        style="padding-left: 5px"
        class="pt-2 fs-5 text-center"
        [ngClass]="{ 'text-success': isCloture, 'text-danger': !isCloture }"
      >
        {{ titre }}
      </p>


      </div>
    </div>

    <div class="row p-3 bg-light">
      <div class="col-lg-6" style="padding-left: 0px;">
        <button
          class="form-control text-white"
          style="background-color: rgb(29, 70, 29)"
          (click)="toggleTotalVersements()"
          [disabled]="isConfirmerSoldeDisabled"
        >
          Confirmer le solde
          <i style="padding-left: 10px" class="fa-solid fa-check"></i>
        </button>
      </div>
      <div
        class="col-lg-6 bg-white"
        style="padding-left: 0px; padding-right: 0px"
      >
        <div
          class="col-lg-12"
          *ngIf="showTotalVersements"
          style="padding-left: 0px; padding-right: 0"
        >
          <input
            type="text"
            class="form-control"
            disabled
            [(ngModel)]="SoldeFermeture"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 bg-light"></div>
      <div
        class="col-lg-6 p-3 bg-light"
        style="padding-right: 0px; padding-left: 0px"
      >
        <div class="mt-2 border" style="padding-left: 0px">
          <button
            *ngIf="!isJourneeCloturee; else loader"
            class="form-control text-white bg-table-color"
            (click)="ClotureJournee()"
            [disabled]="isCloturerJourneeDisabled"
          >
            <i class="fa-solid fs-4 fa-lock" style="padding-right: 19px"></i>
            Clôturer la journée comptable
          </button>
        </div>
        <div class="mt-2">
          <button
            *ngIf="!isJourneeDECloturee; else loader"
            class="form-control text-white bg-table-color"
            (click)="DeClotureJournee()"
            [disabled]="isDecloturerJourneeDisabled"
          >
            <i class="fa-solid fs-4 fa-lock-open"></i> Déclôturer la journée
            comptable
          </button>
        </div>
        <div class="mt-2">
          <button
            *ngIf="!ReimprimeRecuLoading; else loader"
            class="form-control text-white bg-table-color"
            (click)="imprimer()"
          >
            <i class="fa-solid fs-4 fa-print"></i> Ré-imprimer le rapport de
            clôture
          </button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
</app-gabarit>
