<div class="container-fuild" *ngIf="!isloadingpage;else loader">
    <div style="max-height: 400px; overflow-y: auto">
        <table class="table table-hover table-success table-striped-columns">
          <tbody>
            <tr>
              <td>
                <button class="form-control" (click)="selectBalise(NOMETAB)">{{ NOMETAB }}</button>
              </td>
              <td>
                <button class="form-control" (click)="selectBalise(NOMELEVE)">{{ this.NOMELEVE }}</button>
              </td>
              <td>
                <button class="form-control" (click)="selectBalise(PRENOMELEVE)">{{ this.PRENOMELEVE }}</button>
              </td>
              <td>
                <button class="form-control" (click)="selectBalise(NOMNIVEAU)">{{ this.NOMNIVEAU }}</button>
              </td>
            </tr>
            <tr>
              <th>
                <button class="form-control" (click)="selectBalise(NOMBRANCHE)">{{ this.NOMBRANCHE }}</button>
              </th>
              <td>
                <button class="form-control" (click)="selectBalise(CODECLASSE)">{{ this.CODECLASSE }}</button>
              </td>
              <td>
                <button class="form-control" (click)="selectBalise(NOMCLASSE)">{{ this.NOMCLASSE }}</button>
              </td>
              <td>
                <button class="form-control" (click)="selectBalise(ANNEESCOL)">{{ this.ANNEESCOL }}</button>
              </td>
            </tr>
            <tr>
              <th>
                <button class="form-control" (click)="selectBalise(NOMDIRECTEUR)">{{ this.NOMDIRECTEUR }}</button>
              </th>
              <td>
                <button class="form-control" (click)="selectBalise(MATRICULEELEVE)">
                  {{ this.MATRICULEELEVE }}
                </button>
              </td>
              <td>
                <button class="form-control"  (click)="selectBalise(DATENAISSANCEELEVE)">
                  {{ this.DATENAISSANCEELEVE }}
                </button>
              </td>
              <td>
                <button class="form-control" (click)="selectBalise(LIEUNAISSANCEELEVE)">
                  {{ this.LIEUNAISSANCEELEVE }}
                </button>
              </td>
            </tr>
            <tr>
              <th>
                <button class="form-control" (click)="selectBalise(NOMPEREELEVE)">{{ this.NOMPEREELEVE }}</button>
              </th>
              <td>
                <button class="form-control" (click)="selectBalise(NOMMEREELEVE)">{{ this.NOMMEREELEVE }}</button>
              </td>
              <td>
                <button class="form-control" (click)="selectBalise(NOMUTEURELEVE)">{{ this.NOMUTEURELEVE }}</button>
              </td>
              <td>
                <button class="form-control" (click)="selectBalise(MOYENNEPERIODE1)">
                  {{ this.MOYENNEPERIODE1 }}
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <button class="form-control" (click)="selectBalise(MOYENNEPERIODE2)">
                  {{ this.MOYENNEPERIODE2 }}
                </button>
              </td>
              <td>
                <button class="form-control" (click)="selectBalise(MOYENNEPERIODE3)">
                  {{ this.MOYENNEPERIODE3 }}
                </button>
              </td>
              <td>
                <button class="form-control" (click)="selectBalise(MOYENNEANNUELLE)">
                  {{ this.MOYENNEANNUELLE }}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
<ng-template #loader>
    <app-loader></app-loader>
  </ng-template>