<app-gabarit>
    <div class="container m-lg-auto bg-light rounded mb-5 p-3">
        <div class="col-lg-12 rounded bg-white pt-2">
          <div class="row">
            <div class="col-6 p-0 m-0">
              <h3 class="" style="padding-left: 10px">Enseignant connecté</h3>
            </div>
            <div class="col-6 p-0 m-0 text-end">
              <p
                class="text-end bg-success"
                style="
                  width: 20px;
                  height: 20px;
                  border-radius: 50%;
                  float: right;
                  margin-right: 10px !important;
                "
              ></p>
            </div>
          </div>
        </div>
        <div class="form">
          <form action="">
            <div class="content mt-3">
              <span class="text-on-border">Identités de l'enseignant</span>
              <div class="row">
                <div class="col-lg-3">
                  <div class="row">
                    <div class="col-lg-6 pt-3">
                      <img
                        src="assets/images/businessman_318-188871.avif"
                        class=""
                        style="width: 17em"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
                <div class="col-lg-9">
                  <label for="" class="mt-2">Code enseignant</label>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"
                      ><i class="fa-solid fa-user"></i
                    ></span>
                    <input
                      type="text"
                      readonly
                      [value]="enseignant.CodeEnseignant"
                      class="form-control"
                    />
                  </div>
    
                  <label for="" class="mt-2">Nom</label>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"
                      ><i class="fa-solid fa-user"></i
                    ></span>
                    <input
                      type="text"
                      readonly
                      [value]="enseignant.Fr_Nom"
                      class="form-control"
                    />
                  </div>
    
                  <label for="" class="">Prénom</label>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"
                      ><i class="fa-solid fa-user"></i
                    ></span>
                    <input
                      type="text"
                      readonly
                      [value]="enseignant.Fr_Prenom"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
              <label for="" class="">Date de naissance</label>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fa-solid fa-calendar"></i
                ></span>
                <input
                  type="text"
                  readonly
                  [value]="this.DateNaissance"
                  class="form-control"
                />
              </div>
    
              <label for="" class="">Lieu de naissance</label>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fa-solid fa-layer-group"></i
                ></span>
                <input
                  type="text"
                  readonly
                  [value]="enseignant.Fr_LieuNaissance"
                  class="form-control"
                />
              </div>
    
              <label for="" class="">Sexe</label>
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fa-sharp fa-solid fa-child"></i
                ></span>
                <input
                  type="text"
                  readonly
                  [value]="enseignant.Civilite === 1 ? 'M' : 'F'"
                  class="form-control"
                />
              </div>
    
              <label for="" class="mt-3">Nationalité</label>
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fa-sharp fa-solid fa-flag"></i
                ></span>
                <input
                  type="text"
                  readonly
                  [value]="enseignant.Nationalite"
                  class="form-control"
                />
              </div>
    
              <label for="" class="mt-3">Téléphone</label>
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fa-solid fa-phone"></i>
                </span>
                <input
                  type="text"
                  readonly
                  [value]="enseignant.Telephone"
                  class="form-control"
                />
              </div>
    
              <label for="" class="mt-3">Email</label>
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fa-solid fa-envelope"></i
                ></span>
                <input
                  type="text"
                  readonly
                  [value]="enseignant.Courriel"
                  class="form-control"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    
</app-gabarit>