<app-gabarit-enseignant [pageTitle]="'Espace enseignant'">
    <div class="row pb-3">
        <div class="col-lg-3 d-none d-lg-block pb-3">
          <aside class="border h-100 w-100 mb-2 shadow rounded d-flex align-items-start justify-content-center p-2 ">
             <div class="bg-bloc p-2 rounded">
              <h2 class="text-center"> E-school web, Leader de la gestion scolaire en ligne.</h2>

              <ol class="alternating-colors">
                <li>
                  <strong>Emploi du temps</strong>
                </li>
                <li>
                  <strong>Saisie des notes</strong>
                </li>
                <li>
                  <strong>Projet pédagogique</strong>
                </li>
                <li>
                  <strong>Présences et absences</strong>
                </li>
                <li>
                  <strong>Devoirs et cours</strong>
                </li>
                <li>
                  <strong>Calendrier des activités</strong>
                </li>
                <li>
                  <strong>Notifications des actualités</strong>
                </li>
              </ol>
             </div>
          </aside>
        </div>

        <div class="col-12 col-lg-9">
          <div class="row">

            <div class="col-12 col-md-6">
              <div class="info-box pointer" routerLink="emploi-du-temps" [ngClass]="{'loader-bloc': emploisDuTempsIsLoading}" (click)="emploisDuTempsIsLoading=true">
                <div *ngIf="emploisDuTempsIsLoading" class="loader-style"><app-loader></app-loader></div>
                <span class="info-box-icon bg-green">
                  <img src="../../assets/logo/Consultations_de_caisse.png" alt="">
                </span>
                <div class="info-box-content ">
                    <div class="row">
                      <div class="col">
                        <h2 class="mb-0 pt-3">Emploi du temps</h2>
                      <span class="text-secondary">Télécharger <i class="fa-solid fa-download"></i></span>
                      </div>
                    </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 pointer" (click)="openModal()">
              <div class="info-box">
                <span class="info-box-icon bg-aqua">
                  <img src="../../assets/logo/resultat_scolaire.png" alt="">
                </span>
                <div class="info-box-content d-flex justify-content-start align-items-center">
                    <div>
                      <h2 class="mb-0 pt-3">Saisie des notes</h2>
                      <span class="text-primary">Gestion des notes</span>
                    </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="info-box" >
                <div class="not-ready"></div>
                <span class="info-box-icon bg-primary">
                  <img src="../../assets/logo/Planning.png" alt="">
                </span>
                <div class="info-box-content d-flex justify-content-start align-items-center">
                    <div>
                      <h2 class="mb-0 pt-3">Projet pédagogique</h2>
                      <span class="text-primary">Gestion des projets</span>
                    </div>
                </div>
              </div>
            </div>



            <div class="col-12 col-md-6" routerLink="/espace-enseignant/devoirs">
              <div class="info-box">
                <div class=""></div>
                <span class="info-box-icon bg-secondary-cust">
                  <img src="../../assets/logo/Planning.png" alt="">
                </span>
                <div class="info-box-content d-flex justify-content-start align-items-center">
                    <div>
                      <h2 class="mb-0 pt-3">Devoirs et cours</h2>
                      <span style="color: #7b4bce;">Publier un cours/devoir</span>
                    </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 pointer" routerLink="gestion-absences/eleve">
              <div class="info-box">
                <div class="not-readyi"></div>
                <span class="info-box-icon bg-secondary-cust">
                  <img src="../../assets/logo/48X48/A1 (12).png" alt="">
                </span>
                <div class="info-box-content d-flex justify-content-start align-items-center">
                    <div>
                      <h2 class="mb-0 pt-3">Absences</h2>
                      <span style="color: #7b4bce;">Gestion des absences</span>
                    </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="info-box">
                <div class="not-ready"></div>
                <span class="info-box-icon bg-secondary-cust">
                  <img src="../../assets/logo/resultat_scolaire.png" alt="">
                </span>
                <div class="info-box-content d-flex justify-content-start align-items-center">
                    <div>
                      <h2 class="mb-0 pt-3">Mon profil</h2>
                      <span style="color: #7b4bce;">Modifier votre profil</span>
                    </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col">
              <div class="card shadow-lg p-3 actuality-color rounded info-box">
                <div class="card-header">
                  Actualités
                </div>
                <div class="card-body px-0">
                  <div id="actualites" class="" *ngIf="(actualites$ | async) as actualites; else loader">
                    <mat-card class="example-card mb-3 border" *ngFor="let item of actualites">
                      <mat-card-header>
                        <img mat-card-sm-image src="../../../assets/logo/logo_actuality.jpg" >
                        <mat-card-title-group>
                          <mat-card-title>{{ item.Contenu }}</mat-card-title>
                          <mat-card-subtitle>{{ item.DateHeure | date }}</mat-card-subtitle>

                        </mat-card-title-group>
                      </mat-card-header>
                      <mat-card-content>
                        {{ item.Contenu }}
                      </mat-card-content>
                    </mat-card>
                  </div>
                  <blockquote class="blockquote mb-0 mt-4">
                    <p class="text-end">Retrouvez toutes les actualités scolaires ici.</p>
                    <footer class="blockquote-footer mt-1 text-end">Equipe technique<cite title="Source Title">Cybermatic-group</cite></footer>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</app-gabarit-enseignant>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
