<app-gabarit-parent>
  <div class="container-fluid p-2 bg-light">
    <p class="text-success fs-5 bg-light p-2 col-lg-7">
      Veuillez rechercher l'élève en saisissant son nom et prénom puis
      cliquer sur <span class="text-danger">valider</span> !
    </p>
    <div class="row my-2">
      <div class="col-lg-4">
        <label for="">Nom</label>
        <input type="text" class="form-control" (input)="SearchNom($event)" />
      </div>
      <div class="col-lg-4">
        <label for="">Prénom</label>
        <input
          type="text"
          class="form-control"
          (input)="SearchPrenom($event)"
        />
      </div>
      <div class="col-lg-4">
        <button
          class="form-control mt-4 text-white"
          style="cursor: pointer; background-color: #7c57ce"
          (click)="valider()"
        >
          Valider <i class="fa-solid fa-arrows-rotate"></i>
        </button>
      </div>
    </div>
    <div class="mat-elevation-z8" *ngIf="!isLoading;else loader" style="max-height: 400px; overflow-y: auto">
      <table
        mat-table
        [dataSource]="dataSource"
        *ngIf="dataSource && dataSource.data.length > 0"
      >
        <!-- Position Column -->

        <ng-container matColumnDef="Metricule">
          <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
            Matricule
          </th>
          <td     (click)="onClickLine(element)"
          [ngClass]="{
            'bg-color': eleveSelected == element,
            cursor: eleveSelected
          }" class="pointer" mat-cell *matCellDef="let element">
            {{ element.Metricule }}
          </td>
        </ng-container>

        <ng-container matColumnDef="NomPrenom">
          <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
            Nom et Prénom
          </th>
          <td  (click)="onClickLine(element)"
          [ngClass]="{
            'bg-color': eleveSelected == element,
            cursor: eleveSelected
          }"  class="pointer" mat-cell *matCellDef="let element">
            {{ element.NomPrenom }}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="LieuNaissance">
          <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
            Lieu de naissance
          </th>
          <td  (click)="onClickLine(element)"
          [ngClass]="{
            'bg-color': eleveSelected == element,
            cursor: eleveSelected
          }"  class="pointer" mat-cell *matCellDef="let element">
            {{ element.LieuNaissance }}
          </td>
        </ng-container> -->

        <ng-container matColumnDef="Classe">
          <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>
            Classe
          </th>
          <td  (click)="onClickLine(element)"
          [ngClass]="{
            'bg-color': eleveSelected == element,
            cursor: eleveSelected
          }"  class="pointer" mat-cell *matCellDef="let element">
            {{ element.Classe }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <th mat-header-cell class="text-end" *matHeaderCellDef>Actions</th>

          <td  (click)="onClickLine(element)"
          [ngClass]="{
            'bg-color': eleveSelected == element,
            cursor: eleveSelected
          }"  mat-cell class="text-end" *matCellDef="let element">
            <button
              type="button"
              (click)="addEleve(element)"
              style="padding-right: 15px; background-color: #7b4bce;"
              class="btn bg-color-primary text-white"
            >
             Ajouter  <i class="fa-solid fa-plus"></i>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      
    </div>
    <div style="max-height: 400px; overflow-y: auto">
      <div *ngIf="!dataSource || dataSource.data.length < 1">
        <app-empty-list
          [lineNumber]="7"
          [headerNames]="[
            'Matricule ',
            'Nom et Prénom',
            'Classe',
            'Actions'
          ]"
        ></app-empty-list>
      </div>
    </div>

    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
</app-gabarit-parent>
